In [1]:
import re
import pandas as pd
import chardet

# pd.set_option("display.max_colwidth", None)
# pd.set_option("display.max_rows", None)

In [2]:
def get_token_intervals_multi(line):
    """
    For a given line, return a dictionary where each key is a token (a contiguous
    sequence of characters that are not separated by two or more spaces) and the
    value is a tuple (start, end) representing the 1-indexed positions of the token in the line.
    
    Example:
      Given the line: "Age (yr)  Depth (cm)"
      This function returns:
         {"Age (yr)": (1, 8), "Depth (cm)": (11, 21)}
    """
    tokens = {}
    # Split the line on sequences of two or more spaces.
    # The capturing group ensures we retain the delimiters in the split result.
    parts = re.split(r'(\s{2,})', line)
    pos = 0
    for part in parts:
        if re.fullmatch(r'\s{2,}', part):
            # Delimiter: update position by length of delimiter.
            pos += len(part)
        else:
            if part:
                # Record token: starting at pos+1 (1-indexed) and ending at pos+len(part)
                start = pos + 1
                end = pos + len(part)
                tokens[part] = (start, end)
                pos += len(part)
    return tokens

def get_token_intervals_multi_2(line):
    """
    For a given line, return a dictionary where each key is a token (a contiguous
    sequence of characters that are not separated by two or more spaces) and the
    value is a tuple (start, end) representing the 1-indexed positions of the token in the line.
    
    If a token appears more than once, subsequent occurrences are suffixed with a counter.
    
    Example:
      Given the line: 
        "Age (yr)  Depth (cm)  Age (yr)  corrected  corrected  corrected"
      This function returns:
         {
           "Age (yr)": (1, 8),
           "Depth (cm)": (11, 21),
           "Age (yr) 2": (23, 30),
           "corrected": (32, 40),
           "corrected 2": (42, 50),
           "corrected 3": (52, 60)
         }
    """
    tokens = {}
    token_counts = {}  # To keep track of occurrences of each token
    parts = re.split(r'(\s{2,})', line)
    pos = 0
    for part in parts:
        if re.fullmatch(r'\s{2,}', part):
            # If this part is a delimiter (2 or more spaces), update the current position.
            pos += len(part)
        else:
            if part:
                start = pos + 1
                end = pos + len(part)
                # Check if token already exists.
                if part in token_counts:
                    token_counts[part] += 1
                    token_key = f"{part} {token_counts[part]}"
                else:
                    token_counts[part] = 1
                    token_key = part
                tokens[token_key] = (start, end)
                pos += len(part)
    return tokens

# --- Example usage ---
sample_text = """Age (yr)  Depth (cm)  Age (yr)  corrected  corrected  corrected"""
tokens = get_token_intervals_multi(sample_text)
for token, interval in tokens.items():
    print(f"Token: '{token}', Interval: {interval}")

Token: 'Age (yr)', Interval: (23, 30)
Token: 'Depth (cm)', Interval: (11, 20)
Token: 'corrected', Interval: (55, 63)

In [3]:
def compute_interval_overlap(interval1, interval2):
    """
    Given two intervals (a, b) and (c, d) (inclusive, 1-indexed),
    compute the raw overlap (number of overlapping characters) and the Jaccard similarity.
    Jaccard similarity = (size of intersection) / (size of union)
    """
    a, b = interval1
    c, d = interval2
    start = max(a, c)
    end = min(b, d)
    raw_overlap = max(0, end - start + 1)
    len1 = b - a + 1
    len2 = d - c + 1
    union = len1 + len2 - raw_overlap
    jaccard = raw_overlap / union if union else 0
    return raw_overlap, jaccard

In [4]:
def segregate_blocks(lines):
    """
    Given a list of lines, group them into blocks separated by empty lines.
    Each block is a list of non-empty lines.
    """
    blocks = []
    current_block = []
    for line in lines:
        if line.strip():
            current_block.append(line)
        else:
            if current_block:
                blocks.append(current_block)
                current_block = []
    if current_block:
        blocks.append(current_block)
    return blocks

In [5]:
def parse_intervals_overlaps(file_path):
    """
    Reads the file from file_path, segregates it into blocks (separated by empty lines),
    and for each block computes token intervals (using a multi-space delimiter) and the
    overlaps between tokens in the header (first line) and each data line.
    
    Returns:
      A list of DataFrames—one per block—with the following columns:
         - Token, Start Range, End Range, Overlap With, Raw Score, Jaccard Score, Line
      For the header row, the last three columns are null.
    """
    with open(file_path, 'rb') as file:
        raw_data = file.read()
        encoding = chardet.detect(raw_data)['encoding']
        file_text = raw_data.decode(encoding)
    
    lines = file_text.splitlines()
    blocks = segregate_blocks(lines)
    block_dataframes = []
    
    print(len(blocks))
    for block_idx, block in enumerate(blocks, start=1):
        print(f"--- Processing Block {block_idx} ---")
        line_tokens = [get_token_intervals_multi_2(line) for line in block]
    
        rows = []

        header_tokens = line_tokens[0]
        for token, interval in header_tokens.items():
            rows.append({
                "Token": token,
                "Start Range": interval[0],
                "End Range": interval[1],
                "Overlaps With": None,
                "Raw Score": None,
                "Jaccard Score": None,
                "Line": 1
            })

        for line_number, token_dict in enumerate(line_tokens[1:], start=2):
            for token, interval in token_dict.items():
                overlaps = [] 
                for header_token, header_interval in header_tokens.items():
                    raw, jaccard = compute_interval_overlap(interval, header_interval)
                    if raw > 0:
                        overlaps.append((header_token, raw, jaccard))
                if overlaps:
                    for header_token, raw, jaccard in overlaps:
                        rows.append({
                            "Token": token,
                            "Start Range": interval[0],
                            "End Range": interval[1],
                            "Overlaps With": header_token,
                            "Raw Score": raw,
                            "Jaccard Score": round(jaccard, 2),
                            "Line": line_number
                        })
                else:
                    rows.append({
                        "Token": token,
                        "Start Range": interval[0],
                        "End Range": interval[1],
                        "Overlaps With": None,
                        "Raw Score": None,
                        "Jaccard Score": None,
                        "Line": line_number
                    })
        df_block = pd.DataFrame(rows)
        block_dataframes.append(df_block)
        display(df_block.head(len(header_tokens)*5)) 
        print("\n========================\n")
    
    return block_dataframes

In [6]:
if __name__ == "__main__":
    file_path = "./test_interval.txt"
    print("Displaying analysis of tokens overlaps.\n")
    dfs = parse_intervals_overlaps(file_path)

Displaying analysis of tokens overlaps.

12
--- Processing Block 1 ---

,Token,Start Range,End Range,Overlaps With,Raw Score,Jaccard Score,Line
0,Sample Number,1,13,None,NaN,NaN,1
1,Depth to top,16,27,None,NaN,NaN,1
2,238U,34,37,None,NaN,NaN,1
3,232Th,51,55,None,NaN,NaN,1
4,230Th/232Th,71,81,None,NaN,NaN,1
5,d234U*,95,100,None,NaN,NaN,1
6,230Th/238U,113,122,None,NaN,NaN,1
7,Age (yr),135,142,None,NaN,NaN,1
8,Age (yr) 2,155,162,None,NaN,NaN,1
9,d234U initial,173,185,None,NaN,NaN,1
10,Age (yr BP)*,195,207,None,NaN,NaN,1
11,(mm),20,23,Depth to top,4.0,0.33,2
12,(ppb),34,38,238U,4.0,0.80,2
13,(ppt),52,56,232Th,4.0,0.67,2
14,(atomic x 10-6),69,83,230Th/232Th,11.0,0.73,2
15,measured,94,101,d234U*,6.0,0.75,2
16,activity,114,121,230Th/238U,8.0,0.80,2
17,uncorrected,133,143,Age (yr),8.0,0.73,2
18,corrected,154,162,Age (yr) 2,8.0,0.89,2
19,corrected 2,174,182,d234U initial,9.0,0.69,2
20,corrected 3,195,203,Age (yr BP)*,9.0,0.69,2
21,"Dongge Cave, China (D4)",1,23,Sample Number,13.0,0.57,3
22,"Dongge Cave, China (D4)",1,23,Depth to top,8.0,0.30,3
23,D4-4,1,4,Sample Number,4.0,0.31,4
24,1402,20,23,Depth to top,4.0,0.33,4
25,356,32,34,238U,1.0,0.17,4
26,�0.5,38,41,None,NaN,NaN,4
27,62,50,51,232Th,1.0,0.17,4
28,�5,56,57,None,NaN,NaN,4
29,6700,71,74,230Th/232Th,4.0,0.36,4
30,�600,80,83,230Th/232Th,2.0,0.15,4
31,-26,93,95,d234U*,1.0,0.12,4
32,�1.8,100,103,d234U*,1.0,0.11,4
33,0.06977,111,117,230Th/238U,5.0,0.42,4
34,�0.00046,120,127,230Th/238U,3.0,0.20,4
35,8101,133,136,Age (yr),2.0,0.20,4
36,�58,141,143,Age (yr),2.0,0.22,4
37,8091,154,157,Age (yr) 2,3.0,0.33,4
38,�58 2,161,163,Age (yr) 2,2.0,0.22,4
39,-26.6,173,177,d234U initial,5.0,0.38,4
40,�1.9,181,184,d234U initial,4.0,0.31,4
41,8035,195,198,Age (yr BP)*,4.0,0.31,4
42,�58 3,203,205,Age (yr BP)*,3.0,0.23,4
43,D4-9 n,1,6,Sample Number,6.0,0.46,5
44,1404,20,23,Depth to top,4.0,0.33,5
45,388,32,34,238U,1.0,0.17,5
46,�0.1,38,41,None,NaN,NaN,5
47,89,50,51,232Th,1.0,0.17,5
48,�4,56,57,None,NaN,NaN,5
49,5000,71,74,230Th/232Th,4.0,0.36,5
50,�200,80,83,230Th/232Th,2.0,0.15,5
51,-23.9,92,96,d234U*,2.0,0.22,5
52,�1.2,100,103,d234U*,1.0,0.11,5
53,0.07009,111,117,230Th/238U,5.0,0.42,5
54,�0.00014,120,127,230Th/238U,3.0,0.20,5

========================

--- Processing Block 2 ---

,Token,Start Range,End Range,Overlaps With,Raw Score,Jaccard Score,Line
0,Sample Number,1,13,None,NaN,NaN,1
1,Depth to top,16,27,None,NaN,NaN,1
2,238U,34,37,None,NaN,NaN,1
3,232Th,51,55,None,NaN,NaN,1
4,230Th/232Th,71,81,None,NaN,NaN,1
5,d234U*,95,100,None,NaN,NaN,1
6,230Th/238U,113,122,None,NaN,NaN,1
7,Age (yr),135,142,None,NaN,NaN,1
8,Age (yr) 2,155,162,None,NaN,NaN,1
9,d234U initial,173,185,None,NaN,NaN,1
10,Age (yr BP)*,195,207,None,NaN,NaN,1
11,(mm),20,23,Depth to top,4.0,0.33,2
12,(ppb),34,38,238U,4.0,0.80,2
13,(ppt),52,56,232Th,4.0,0.67,2
14,(atomic x 10-6),69,83,230Th/232Th,11.0,0.73,2
15,measured,94,101,d234U*,6.0,0.75,2
16,activity,114,121,230Th/238U,8.0,0.80,2
17,uncorrected,133,143,Age (yr),8.0,0.73,2
18,corrected,154,162,Age (yr) 2,8.0,0.89,2
19,corrected 2,174,182,d234U initial,9.0,0.69,2
20,corrected 3,195,203,Age (yr BP)*,9.0,0.69,2
21,"Dongge Cave, China (DA)",1,23,Sample Number,13.0,0.57,3
22,"Dongge Cave, China (DA)",1,23,Depth to top,8.0,0.30,3
23,DA5-13,1,6,Sample Number,6.0,0.46,4
24,858.5,19,23,Depth to top,5.0,0.42,4
25,586.3,31,35,238U,2.0,0.29,4
26,�0.8,38,41,None,NaN,NaN,4
27,570,50,52,232Th,2.0,0.33,4
28,�5,56,57,None,NaN,NaN,4
29,1140,71,74,230Th/232Th,4.0,0.36,4
30,�10,80,82,230Th/232Th,2.0,0.17,4
31,-69.9,92,96,d234U*,2.0,0.22,4
32,�1.7,100,103,d234U*,1.0,0.11,4
33,0.06679,111,117,230Th/238U,5.0,0.42,4
34,�0.00033,120,127,230Th/238U,3.0,0.20,4
35,8126,133,136,Age (yr),2.0,0.20,4
36,�44,141,143,Age (yr),2.0,0.22,4
37,8073,154,157,Age (yr) 2,3.0,0.33,4
38,�56,161,163,Age (yr) 2,2.0,0.22,4
39,-71.5,173,177,d234U initial,5.0,0.38,4
40,�1.7 2,181,184,d234U initial,4.0,0.31,4
41,8018,195,198,Age (yr BP)*,4.0,0.31,4
42,�56 2,203,205,Age (yr BP)*,3.0,0.23,4
43,DA5-6,1,5,Sample Number,5.0,0.38,5
44,859,20,22,Depth to top,3.0,0.25,5
45,545.6,31,35,238U,2.0,0.29,5
46,�0.7,38,41,None,NaN,NaN,5
47,200,50,52,232Th,2.0,0.33,5
48,�10,56,58,None,NaN,NaN,5
49,2900,71,74,230Th/232Th,4.0,0.36,5
50,�200,80,83,230Th/232Th,2.0,0.15,5
51,-72.9,92,96,d234U*,2.0,0.22,5
52,�1.1,100,103,d234U*,1.0,0.11,5
53,0.06594,111,117,230Th/238U,5.0,0.42,5
54,�0.00048,120,127,230Th/238U,3.0,0.20,5

========================

--- Processing Block 3 ---

,Token,Start Range,End Range,Overlaps With,Raw Score,Jaccard Score,Line
0,Sample Number,1,13,None,NaN,NaN,1
1,Depth to top,16,27,None,NaN,NaN,1
2,238U,34,37,None,NaN,NaN,1
3,232Th,51,55,None,NaN,NaN,1
4,230Th/232Th,71,81,None,NaN,NaN,1
5,d234U*,95,100,None,NaN,NaN,1
6,230Th/238U,113,122,None,NaN,NaN,1
7,Age (yr),135,142,None,NaN,NaN,1
8,Age (yr) 2,155,162,None,NaN,NaN,1
9,d234U initial,173,185,None,NaN,NaN,1
10,Age (yr BP)*,195,207,None,NaN,NaN,1
11,(mm),20,23,Depth to top,4.0,0.33,2
12,(ppb),34,38,238U,4.0,0.80,2
13,(ppt),52,56,232Th,4.0,0.67,2
14,(atomic x 10-6),69,83,230Th/232Th,11.0,0.73,2
15,measured,94,101,d234U*,6.0,0.75,2
16,activity,114,121,230Th/238U,8.0,0.80,2
17,uncorrected,133,143,Age (yr),8.0,0.73,2
18,corrected,154,162,Age (yr) 2,8.0,0.89,2
19,corrected 2,174,182,d234U initial,9.0,0.69,2
20,corrected 3,195,203,Age (yr BP)*,9.0,0.69,2
21,"Qunf Cave, Oman (Q5)",1,20,Sample Number,13.0,0.65,3
22,"Qunf Cave, Oman (Q5)",1,20,Depth to top,5.0,0.19,3
23,Q5-15 n,1,7,Sample Number,7.0,0.54,4
24,2,21,21,Depth to top,1.0,0.08,4
25,659.6,31,35,238U,2.0,0.29,4
26,�0.8,38,41,None,NaN,NaN,4
27,250,50,52,232Th,2.0,0.33,4
28,�10,56,58,None,NaN,NaN,4
29,2800,71,74,230Th/232Th,4.0,0.36,4
30,�100,80,83,230Th/232Th,2.0,0.15,4
31,-83.1,92,96,d234U*,2.0,0.22,4
32,�1.6,100,103,d234U*,1.0,0.11,4
33,0.06592,111,117,230Th/238U,5.0,0.42,4
34,�0.00027,120,127,230Th/238U,3.0,0.20,4
35,8138,133,136,Age (yr),2.0,0.20,4
36,�37,141,143,Age (yr),2.0,0.22,4
37,8125,154,157,Age (yr) 2,3.0,0.33,4
38,�38,161,163,Age (yr) 2,2.0,0.22,4
39,-85.1,173,177,d234U initial,5.0,0.38,4
40,�1.6 2,181,184,d234U initial,4.0,0.31,4
41,8069,195,198,Age (yr BP)*,4.0,0.31,4
42,�38 2,203,205,Age (yr BP)*,3.0,0.23,4
43,Q5-14 n,1,7,Sample Number,7.0,0.54,5
44,7,21,21,Depth to top,1.0,0.08,5
45,646,32,34,238U,1.0,0.17,5
46,�0.7,38,41,None,NaN,NaN,5
47,290,50,52,232Th,2.0,0.33,5
48,�10,56,58,None,NaN,NaN,5
49,2500,71,74,230Th/232Th,4.0,0.36,5
50,�100,80,83,230Th/232Th,2.0,0.15,5
51,-75.9,92,96,d234U*,2.0,0.22,5
52,�1.4,100,103,d234U*,1.0,0.11,5
53,0.06692,111,117,230Th/238U,5.0,0.42,5
54,�0.00026,120,127,230Th/238U,3.0,0.20,5

========================

--- Processing Block 4 ---

,Token,Start Range,End Range,Overlaps With,Raw Score,Jaccard Score,Line
0,Sample Number,1,13,None,NaN,NaN,1
1,Depth to top,16,27,None,NaN,NaN,1
2,238U,34,37,None,NaN,NaN,1
3,232Th,51,55,None,NaN,NaN,1
4,230Th/232Th,71,81,None,NaN,NaN,1
5,d234U*,95,100,None,NaN,NaN,1
6,230Th/238U,113,122,None,NaN,NaN,1
7,Age (yr),135,142,None,NaN,NaN,1
8,Age (yr) 2,155,162,None,NaN,NaN,1
9,d234U initial,173,185,None,NaN,NaN,1
10,Age (yr BP)*,195,207,None,NaN,NaN,1
11,(mm),20,23,Depth to top,4.0,0.33,2
12,(ppb),34,38,238U,4.0,0.80,2
13,(ppt),52,56,232Th,4.0,0.67,2
14,(atomic x 10-6),69,83,230Th/232Th,11.0,0.73,2
15,measured,94,101,d234U*,6.0,0.75,2
16,activity,114,121,230Th/238U,8.0,0.80,2
17,uncorrected,133,143,Age (yr),8.0,0.73,2
18,corrected,154,162,Age (yr) 2,8.0,0.89,2
19,corrected 2,174,182,d234U initial,9.0,0.69,2
20,corrected 3,195,203,Age (yr BP)*,9.0,0.69,2
21,"Paix�o Cave, Brazil (PX5)",1,25,Sample Number,13.0,0.52,3
22,"Paix�o Cave, Brazil (PX5)",1,25,Depth to top,10.0,0.37,3
23,PX-6 n,1,6,Sample Number,6.0,0.46,4
24,91,21,22,Depth to top,2.0,0.17,4
25,1884,31,34,238U,1.0,0.14,4
26,�2,38,39,None,NaN,NaN,4
27,217,50,52,232Th,2.0,0.33,4
28,�5,56,57,None,NaN,NaN,4
29,24500,70,74,230Th/232Th,4.0,0.33,4
30,�600,80,83,230Th/232Th,2.0,0.15,4
31,1363,93,96,d234U*,2.0,0.25,4
32,�2 2,100,101,d234U*,1.0,0.14,4
33,0.17128,111,117,230Th/238U,5.0,0.42,4
34,�0.00028,120,127,230Th/238U,3.0,0.20,4
35,8150,133,136,Age (yr),2.0,0.20,4
36,�17,141,143,Age (yr),2.0,0.22,4
37,8149,154,157,Age (yr) 2,3.0,0.33,4
38,�17 2,161,163,Age (yr) 2,2.0,0.22,4
39,1394.4,172,177,d234U initial,5.0,0.36,4
40,�2.5,181,184,d234U initial,4.0,0.31,4
41,8091,195,198,Age (yr BP)*,4.0,0.31,4
42,�17 3,203,205,Age (yr BP)*,3.0,0.23,4
43,PX-7 n,1,6,Sample Number,6.0,0.46,5
44,94,21,22,Depth to top,2.0,0.17,5
45,1382,31,34,238U,1.0,0.14,5
46,�1,38,39,None,NaN,NaN,5
47,136,50,52,232Th,2.0,0.33,5
48,�3,56,57,None,NaN,NaN,5
49,28900,70,74,230Th/232Th,4.0,0.33,5
50,�700,80,83,230Th/232Th,2.0,0.15,5
51,1381,93,96,d234U*,2.0,0.25,5
52,�2,100,101,d234U*,1.0,0.14,5
53,0.17287,111,117,230Th/238U,5.0,0.42,5
54,�0.00028,120,127,230Th/238U,3.0,0.20,5

========================

--- Processing Block 5 ---

,Token,Start Range,End Range,Overlaps With,Raw Score,Jaccard Score,Line
0,Sample Number,1,13,None,NaN,NaN,1
1,Depth to top,16,27,None,NaN,NaN,1
2,238U,34,37,None,NaN,NaN,1
3,232Th,51,55,None,NaN,NaN,1
4,230Th/232Th,71,81,None,NaN,NaN,1
5,d234U*,95,100,None,NaN,NaN,1
6,230Th/238U,113,122,None,NaN,NaN,1
7,Age (yr),135,142,None,NaN,NaN,1
8,Age (yr) 2,155,162,None,NaN,NaN,1
9,d234U initial,173,185,None,NaN,NaN,1
10,Age (yr BP)*,195,207,None,NaN,NaN,1
11,(mm),20,23,Depth to top,4.0,0.33,2
12,(ppb),34,38,238U,4.0,0.80,2
13,(ppt),52,56,232Th,4.0,0.67,2
14,(atomic x 10-6),69,83,230Th/232Th,11.0,0.73,2
15,measured,94,101,d234U*,6.0,0.75,2
16,activity,114,121,230Th/238U,8.0,0.80,2
17,uncorrected,133,143,Age (yr),8.0,0.73,2
18,corrected,154,162,Age (yr) 2,8.0,0.89,2
19,corrected 2,174,182,d234U initial,9.0,0.69,2
20,corrected 3,195,203,Age (yr BP)*,9.0,0.69,2
21,"Hoti Cave, Oman (H14)",1,21,Sample Number,13.0,0.62,3
22,"Hoti Cave, Oman (H14)",1,21,Depth to top,6.0,0.22,3
23,H14-10 n,1,8,Sample Number,8.0,0.62,4
24,160.9,19,23,Depth to top,5.0,0.42,4
25,1696.1,30,35,238U,2.0,0.25,4
26,�0.5,38,41,None,NaN,NaN,4
27,584,50,52,232Th,2.0,0.33,4
28,�8,56,57,None,NaN,NaN,4
29,5300,71,74,230Th/232Th,4.0,0.36,4
30,�100,80,83,230Th/232Th,2.0,0.15,4
31,599.9,92,96,d234U*,2.0,0.22,4
32,�0.4,100,103,d234U*,1.0,0.11,4
33,0.11026,111,117,230Th/238U,5.0,0.42,4
34,�0.00034,120,127,230Th/238U,3.0,0.20,4
35,7764,133,136,Age (yr),2.0,0.20,4
36,�25,141,143,Age (yr),2.0,0.22,4
37,7758,154,157,Age (yr) 2,3.0,0.33,4
38,�25 2,161,163,Age (yr) 2,2.0,0.22,4
39,613.2,173,177,d234U initial,5.0,0.38,4
40,�0.4 2,181,184,d234U initial,4.0,0.31,4
41,7702,195,198,Age (yr BP)*,4.0,0.31,4
42,�25 3,203,205,Age (yr BP)*,3.0,0.23,4
43,H14-9 n,1,7,Sample Number,7.0,0.54,5
44,166.3,19,23,Depth to top,5.0,0.42,5
45,1786.9,30,35,238U,2.0,0.25,5
46,�0.5,38,41,None,NaN,NaN,5
47,796,50,52,232Th,2.0,0.33,5
48,�8,56,57,None,NaN,NaN,5
49,4100,71,74,230Th/232Th,4.0,0.36,5
50,�40,80,82,230Th/232Th,2.0,0.17,5
51,596.4,92,96,d234U*,2.0,0.22,5
52,�0.6,100,103,d234U*,1.0,0.11,5
53,0.11066,111,117,230Th/238U,5.0,0.42,5
54,�0.00032,120,127,230Th/238U,3.0,0.20,5

========================

--- Processing Block 6 ---

,Token,Start Range,End Range,Overlaps With,Raw Score,Jaccard Score,Line
0,Sample Number,1,13,None,NaN,NaN,1
1,Depth to top,16,27,None,NaN,NaN,1
2,238U,34,37,None,NaN,NaN,1
3,232Th,51,55,None,NaN,NaN,1
4,230Th/232Th,71,81,None,NaN,NaN,1
5,d234U*,95,100,None,NaN,NaN,1
6,230Th/238U,113,122,None,NaN,NaN,1
7,Age (yr),135,142,None,NaN,NaN,1
8,Age (yr) 2,155,162,None,NaN,NaN,1
9,d234U initial,173,185,None,NaN,NaN,1
10,Age (yr BP)*,195,207,None,NaN,NaN,1
11,(mm),20,23,Depth to top,4.0,0.33,2
12,(ppb),34,38,238U,4.0,0.80,2
13,(ppt),52,56,232Th,4.0,0.67,2
14,(atomic x 10-6),69,83,230Th/232Th,11.0,0.73,2
15,measured,94,101,d234U*,6.0,0.75,2
16,activity,114,121,230Th/238U,8.0,0.80,2
17,uncorrected,133,143,Age (yr),8.0,0.73,2
18,corrected,154,162,Age (yr) 2,8.0,0.89,2
19,corrected 2,174,182,d234U initial,9.0,0.69,2
20,corrected 3,195,203,Age (yr BP)*,9.0,0.69,2
21,"Padre Cave, Brazil (PAD07)",1,26,Sample Number,13.0,0.50,3
22,"Padre Cave, Brazil (PAD07)",1,26,Depth to top,11.0,0.41,3
23,B2-8,1,4,Sample Number,4.0,0.31,4
24,131,20,22,Depth to top,3.0,0.25,4
25,652.9,31,35,238U,2.0,0.29,4
26,�0.8,38,41,None,NaN,NaN,4
27,440,50,52,232Th,2.0,0.33,4
28,�20,56,58,None,NaN,NaN,4
29,3100,71,74,230Th/232Th,4.0,0.36,4
30,�100,80,83,230Th/232Th,2.0,0.15,4
31,905.3,92,96,d234U*,2.0,0.22,4
32,�2.0,100,103,d234U*,1.0,0.11,4
33,0.12761,111,117,230Th/238U,5.0,0.42,4
34,�0.00066,120,127,230Th/238U,3.0,0.20,4
35,7514,133,136,Age (yr),2.0,0.20,4
36,�41,141,143,Age (yr),2.0,0.22,4
37,7503,154,157,Age (yr) 2,3.0,0.33,4
38,�41 2,161,163,Age (yr) 2,2.0,0.22,4
39,924.7,173,177,d234U initial,5.0,0.38,4
40,�2.1,181,184,d234U initial,4.0,0.31,4
41,7448,195,198,Age (yr BP)*,4.0,0.31,4
42,�41 3,203,205,Age (yr BP)*,3.0,0.23,4
43,B2-16 n,1,7,Sample Number,7.0,0.54,5
44,166,20,22,Depth to top,3.0,0.25,5
45,782.9,31,35,238U,2.0,0.29,5
46,�0.1,38,41,None,NaN,NaN,5
47,113,50,52,232Th,2.0,0.33,5
48,�5,56,57,None,NaN,NaN,5
49,14600,70,74,230Th/232Th,4.0,0.33,5
50,�700,80,83,230Th/232Th,2.0,0.15,5
51,865.9,92,96,d234U*,2.0,0.22,5
52,�0.8,100,103,d234U*,1.0,0.11,5
53,0.12802,111,117,230Th/238U,5.0,0.42,5
54,�0.00023,120,127,230Th/238U,3.0,0.20,5

========================

--- Processing Block 7 ---

,Token,Start Range,End Range,Overlaps With,Raw Score,Jaccard Score,Line
0,Depth,1,5,None,NaN,NaN,1
1,Age,16,18,None,NaN,NaN,1
2,d18O,26,29,None,NaN,NaN,1
3,1395,1,4,Depth,4.0,0.80,2
4,7992,15,18,Age,3.0,0.75,2
5,-8.96,25,29,d18O,4.0,0.80,2
6,1396,1,4,Depth,4.0,0.80,3
7,7999,15,18,Age,3.0,0.75,3
8,-9.2,26,29,d18O,4.0,1.00,3
9,1397,1,4,Depth,4.0,0.80,4
10,8007,15,18,Age,3.0,0.75,4
11,-8.91,25,29,d18O,4.0,0.80,4
12,1398,1,4,Depth,4.0,0.80,5
13,8014,15,18,Age,3.0,0.75,5
14,-8.84,25,29,d18O,4.0,0.80,5

========================

--- Processing Block 8 ---

,Token,Start Range,End Range,Overlaps With,Raw Score,Jaccard Score,Line
0,Depth,1,5,None,NaN,NaN,1
1,Age,16,18,None,NaN,NaN,1
2,d18O,26,29,None,NaN,NaN,1
3,858.5,1,5,Depth,5.0,1.00,2
4,7990,15,18,Age,3.0,0.75,2
5,-8.79,25,29,d18O,4.0,0.80,2
6,858.8,1,5,Depth,5.0,1.00,3
7,7996,15,18,Age,3.0,0.75,3
8,-8.64,25,29,d18O,4.0,0.80,3
9,859,1,3,Depth,3.0,0.60,4
10,8000,15,18,Age,3.0,0.75,4
11,-8.72,25,29,d18O,4.0,0.80,4
12,859.3,1,5,Depth,5.0,1.00,5
13,8006,15,18,Age,3.0,0.75,5
14,-8.65,25,29,d18O,4.0,0.80,5

========================

--- Processing Block 9 ---

,Token,Start Range,End Range,Overlaps With,Raw Score,Jaccard Score,Line
0,Depth,1,5,None,NaN,NaN,1
1,Age,16,18,None,NaN,NaN,1
2,d18O,26,29,None,NaN,NaN,1
3,0,1,1,Depth,1.0,0.20,2
4,8030,15,18,Age,3.0,0.75,2
5,-1.89,25,29,d18O,4.0,0.80,2
6,1,1,1,Depth,1.0,0.20,3
7,8050,15,18,Age,3.0,0.75,3
8,-1.85,25,29,d18O,4.0,0.80,3
9,3,1,1,Depth,1.0,0.20,4
10,8088,15,18,Age,3.0,0.75,4
11,-1.55,25,29,d18O,4.0,0.80,4
12,4.5,1,3,Depth,3.0,0.60,5
13,8108,15,18,Age,3.0,0.75,5
14,-1.8,26,29,d18O,4.0,1.00,5

========================

--- Processing Block 10 ---

,Token,Start Range,End Range,Overlaps With,Raw Score,Jaccard Score,Line
0,Depth,1,5,None,NaN,NaN,1
1,Age,16,18,None,NaN,NaN,1
2,d18O,26,29,None,NaN,NaN,1
3,153.8,1,5,Depth,5.0,1.00,2
4,7678,15,18,Age,3.0,0.75,2
5,-4.08,25,29,d18O,4.0,0.80,2
6,154.3,1,5,Depth,5.0,1.00,3
7,7680,15,18,Age,3.0,0.75,3
8,-4.08,25,29,d18O,4.0,0.80,3
9,154.8,1,5,Depth,5.0,1.00,4
10,7682,15,18,Age,3.0,0.75,4
11,-4.23,25,29,d18O,4.0,0.80,4
12,155.3,1,5,Depth,5.0,1.00,5
13,7684,15,18,Age,3.0,0.75,5
14,-4.1,26,29,d18O,4.0,1.00,5

========================

--- Processing Block 11 ---

,Token,Start Range,End Range,Overlaps With,Raw Score,Jaccard Score,Line
0,Depth,1,5,None,NaN,NaN,1
1,Age,16,18,None,NaN,NaN,1
2,d18O,26,29,None,NaN,NaN,1
3,90,1,2,Depth,2.0,0.40,2
4,8087,15,18,Age,3.0,0.75,2
5,-5.07,25,29,d18O,4.0,0.80,2
6,90.5,1,4,Depth,4.0,0.80,3
7,8089,15,18,Age,3.0,0.75,3
8,-5.37,25,29,d18O,4.0,0.80,3
9,91,1,2,Depth,2.0,0.40,4
10,8091,15,18,Age,3.0,0.75,4
11,-5.49,25,29,d18O,4.0,0.80,4
12,91.5,1,4,Depth,4.0,0.80,5
13,8093,15,18,Age,3.0,0.75,5
14,-5.57,25,29,d18O,4.0,0.80,5

========================

--- Processing Block 12 ---

,Token,Start Range,End Range,Overlaps With,Raw Score,Jaccard Score,Line
0,Depth,1,5,None,NaN,NaN,1
1,Age,16,18,None,NaN,NaN,1
2,d18O,26,29,None,NaN,NaN,1
3,199,1,3,Depth,3.0,0.60,2
4,7782,15,18,Age,3.0,0.75,2
5,-6.151,24,29,d18O,4.0,0.67,2
6,200.5,1,5,Depth,5.0,1.00,3
7,7789,15,18,Age,3.0,0.75,3
8,-6.372,24,29,d18O,4.0,0.67,3
9,202,1,3,Depth,3.0,0.60,4
10,7797,15,18,Age,3.0,0.75,4
11,-6.474,24,29,d18O,4.0,0.67,4
12,203.5,1,5,Depth,5.0,1.00,5
13,7804,15,18,Age,3.0,0.75,5
14,-6.387,24,29,d18O,4.0,0.67,5

========================

In [7]:
len(dfs)

12