In [1]:
from pyleotups import Dataset
ds=Dataset()
df = ds.search_studies(noaa_id=33213)
dfs = ds.get_data(dataTableIDs="45859")
dfs[0].head()

[2025-11-04 08:07:16,914][INFO] - search_studies: Using identifier-only fetch (xml_id/NOAAStudyId). Other parameters will be ignored.

Request URL: https://www.ncei.noaa.gov/access/paleo-search/study/search.json?NOAAStudyId=33213&dataPublisher=NOAA

Parsing NOAA studies:   0%|                                                                                                      | 0/1 [00:00<?, ?it/s]

Parsing NOAA studies: 100%|████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 1051.73it/s]

,Site,Hole,Core,Type,Section,Section_Depth,Sample_Depth,Age,TEX86H,SST
0,U1446,C,1,H,1,4.5,0.045,0.31,-0.1177,30.55
1,U1446,C,1,H,1,31.5,0.315,0.66,-0.1216,30.28
2,U1446,C,1,H,1,61.5,0.615,1.04,-0.1183,30.51
3,U1446,C,1,H,1,90.5,0.905,1.41,-0.1089,31.15
4,U1446,C,1,H,1,121.5,1.215,1.80,-0.1155,30.70

In [2]:
from pyleotups import Dataset
ds=Dataset()
dsf = ds.search_studies(noaa_id=33213)
df = ds.get_funding()
df.head()

[2025-11-04 08:07:18,369][INFO] - search_studies: Using identifier-only fetch (xml_id/NOAAStudyId). Other parameters will be ignored.

Request URL: https://www.ncei.noaa.gov/access/paleo-search/study/search.json?NOAAStudyId=33213&dataPublisher=NOAA

Parsing NOAA studies:   0%|                                                                                                      | 0/1 [00:00<?, ?it/s]

Parsing NOAA studies: 100%|████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 1204.91it/s]

,StudyID,StudyName,FundingAgency,FundingGrant
0,33213,"Bay of Bengal, Northeast Indian Margin Stable ...",US National Science Foundation,OCE1634774
1,33213,"Bay of Bengal, Northeast Indian Margin Stable ...",Japan Society for the Promotion of Science (JSPS),JPMXS05R2900001
2,33213,"Bay of Bengal, Northeast Indian Margin Stable ...",UK Natural Environment Research Council (NERC),"JPMXS05R2900001, 19H05595"
3,33213,"Bay of Bengal, Northeast Indian Margin Stable ...",United States Geological Survey (USGS),NE/L002493/1

In [3]:
from pyleotups import Dataset
ds=Dataset()
dsf = ds.search_studies(noaa_id=33213)
df = ds.get_geo()
df.head()

[2025-11-04 08:07:18,816][INFO] - search_studies: Using identifier-only fetch (xml_id/NOAAStudyId). Other parameters will be ignored.

Request URL: https://www.ncei.noaa.gov/access/paleo-search/study/search.json?NOAAStudyId=33213&dataPublisher=NOAA

Parsing NOAA studies:   0%|                                                                                                      | 0/1 [00:00<?, ?it/s]

Parsing NOAA studies: 100%|█████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 820.32it/s]

,StudyID,DataType,SiteID,SiteName,LocationName,Latitude,Longitude,MinElevation,MaxElevation
0,33213,PALEOCEANOGRAPHY,58697,IODP U1446,Ocean>Indian Ocean,19.083,85.733,-1440,-1440

In [4]:
from pyleotups import Dataset
ds=Dataset()
dsf = ds.search_studies(noaa_id=33213)
bib, df = ds.get_publications()
df.head()

[2025-11-04 08:07:19,292][INFO] - search_studies: Using identifier-only fetch (xml_id/NOAAStudyId). Other parameters will be ignored.

Request URL: https://www.ncei.noaa.gov/access/paleo-search/study/search.json?NOAAStudyId=33213&dataPublisher=NOAA

Parsing NOAA studies:   0%|                                                                                                      | 0/1 [00:00<?, ?it/s]

Parsing NOAA studies: 100%|████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 1215.04it/s]

,Author,Title,Journal,Year,Volume,Number,Pages,Type,DOI,URL,CitationKey,StudyID,StudyName
0,"Clemens, Steven; Yamamoto, Masanobu; Thirumala...",Remote and Local Drivers of Pleistocene South ...,Science Advances,2021,7,23,NaN,publication,10.1126/sciadv.abg3848,http://dx.doi.org/10.1126/sciadv.abg3848,M._Remote_2021_33213,33213,"Bay of Bengal, Northeast Indian Margin Stable ..."

In [5]:
from pyleotups import Dataset
ds=Dataset()
df = ds.search_studies(noaa_id=33213)
df.head()

[2025-11-04 08:07:19,776][INFO] - search_studies: Using identifier-only fetch (xml_id/NOAAStudyId). Other parameters will be ignored.

Request URL: https://www.ncei.noaa.gov/access/paleo-search/study/search.json?NOAAStudyId=33213&dataPublisher=NOAA

Parsing NOAA studies:   0%|                                                                                                      | 0/1 [00:00<?, ?it/s]

Parsing NOAA studies: 100%|████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 1228.56it/s]

,StudyID,XMLID,StudyName,DataType,EarliestYearBP,MostRecentYearBP,EarliestYearCE,MostRecentYearCE,StudyNotes,ScienceKeywords,Investigators,Publications,Sites,Funding
0,33213,74834,"Bay of Bengal, Northeast Indian Margin Stable ...",PALEOCEANOGRAPHY,1462580,280,-1460630,1670,"Provided Keywords: Indian monsoon, South Asian...",None,"Kaustubh Thirumalai, Liviu Giosan, Julie Riche...","[{'Author': 'Clemens, Steven; Yamamoto, Masano...","[[{'DataTableID': '45857', 'DataTableName': 'U...",[{'fundingAgency': 'US National Science Founda...

In [6]:
from pyleotups import Dataset
ds=Dataset()
dsf = ds.search_studies(noaa_id=33213)
df = ds.get_tables()
df.head()

[2025-11-04 08:07:20,226][INFO] - search_studies: Using identifier-only fetch (xml_id/NOAAStudyId). Other parameters will be ignored.

Request URL: https://www.ncei.noaa.gov/access/paleo-search/study/search.json?NOAAStudyId=33213&dataPublisher=NOAA

Parsing NOAA studies:   0%|                                                                                                      | 0/1 [00:00<?, ?it/s]

Parsing NOAA studies: 100%|████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 1142.86it/s]

,DataTableID,DataTableName,TimeUnit,FileURL,Variables,FileDescription,TotalFilesAvailable,SiteID,SiteName,LocationName,Latitude,Longitude,MinElevation,MaxElevation,StudyID,StudyName
0,45857,U1446 Benthic Isotopes Clemens2021,cal yr BP,https://www.ncei.noaa.gov/pub/data/paleo/contr...,"[Sample_Depth, Age, d18O, d13C, Site, Hole, Ty...",NOAA Template File,1,58697,IODP U1446,Ocean>Indian Ocean,19.083,85.733,-1440,-1440,33213,"Bay of Bengal, Northeast Indian Margin Stable ..."
1,45858,U1446 Planktic Isotopes Clemens2021,cal yr BP,https://www.ncei.noaa.gov/pub/data/paleo/contr...,"[Site, Hole, Type, Section, Comment, Core, Sec...",NOAA Template File,1,58697,IODP U1446,Ocean>Indian Ocean,19.083,85.733,-1440,-1440,33213,"Bay of Bengal, Northeast Indian Margin Stable ..."
2,45859,U1446 TEX86H_SST Clemens2021,cal yr BP,https://www.ncei.noaa.gov/pub/data/paleo/contr...,"[Site, Hole, Type, Section, Core, Section_Dept...",NOAA Template File,1,58697,IODP U1446,Ocean>Indian Ocean,19.083,85.733,-1440,-1440,33213,"Bay of Bengal, Northeast Indian Margin Stable ..."
3,45860,U1446 d18Osw Clemens2021,cal yr BP,https://www.ncei.noaa.gov/pub/data/paleo/contr...,"[Age, SL_Scaled, SL_Scaled_averaged, d18O_G_ru...",NOAA Template File,1,58697,IODP U1446,Ocean>Indian Ocean,19.083,85.733,-1440,-1440,33213,"Bay of Bengal, Northeast Indian Margin Stable ..."
4,45861,U1446 LeafWax CarbonIsotope Clemens2021,cal yr BP,https://www.ncei.noaa.gov/pub/data/paleo/contr...,"[Site, Hole, Type, Section, Core, Section_Dept...",NOAA Template File,1,58697,IODP U1446,Ocean>Indian Ocean,19.083,85.733,-1440,-1440,33213,"Bay of Bengal, Northeast Indian Margin Stable ..."

In [7]:
from pyleotups import Dataset
ds=Dataset()
dsf = ds.search_studies(noaa_id=33213)
df_var = ds.get_variables(dataTableIDs="45859")
df_var.head()

[2025-11-04 08:07:20,686][INFO] - search_studies: Using identifier-only fetch (xml_id/NOAAStudyId). Other parameters will be ignored.

Request URL: https://www.ncei.noaa.gov/access/paleo-search/study/search.json?NOAAStudyId=33213&dataPublisher=NOAA

Parsing NOAA studies:   0%|                                                                                                      | 0/1 [00:00<?, ?it/s]

Parsing NOAA studies: 100%|████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 1058.37it/s]

,StudyID,SiteID,FileURL,VariableName,cvDataType,cvWhat,cvMaterial,cvError,cvUnit,cvSeasonality,cvDetail,cvMethod,cvAdditionalInfo,cvFormat,cvShortName
DataTableID,,,,,,,,,,,,,,,
45859,33213,58697,https://www.ncei.noaa.gov/pub/data/paleo/contr...,Site,PALEOCEANOGRAPHY,sampling metadata>sample identification,None,None,None,None,None,None,Site identification,Character,Site
45859,33213,58697,https://www.ncei.noaa.gov/pub/data/paleo/contr...,Hole,PALEOCEANOGRAPHY,sampling metadata>sample identification,None,None,None,None,None,None,Hole drilled at Site U1446,Character,Hole
45859,33213,58697,https://www.ncei.noaa.gov/pub/data/paleo/contr...,Type,PALEOCEANOGRAPHY,sampling metadata>sample identification,None,None,None,None,None,None,H (9 m hydraulic piston core) F (4.5 m hydrau...,Character,Type
45859,33213,58697,https://www.ncei.noaa.gov/pub/data/paleo/contr...,Section,PALEOCEANOGRAPHY,sampling metadata>sample identification,None,None,None,None,None,None,Section number ( 1 through 7 and core catcher ...,Character,Section
45859,33213,58697,https://www.ncei.noaa.gov/pub/data/paleo/contr...,Core,PALEOCEANOGRAPHY,sampling metadata>sample identification,None,None,None,None,None,None,Core number,Numeric,Core

In [8]:
import pyleotups as pt
ds = pt.Dataset()
df_noaa = ds.search_studies(noaa_id=13156)
df_xml = ds.search_studies(xml_id=1840)
df_noaa.head()
df_xml.head()

[2025-11-04 08:07:21,161][INFO] - search_studies: Using identifier-only fetch (xml_id/NOAAStudyId). Other parameters will be ignored.

Request URL: https://www.ncei.noaa.gov/access/paleo-search/study/search.json?NOAAStudyId=13156&dataPublisher=NOAA

Parsing NOAA studies:   0%|                                                                                                      | 0/1 [00:00<?, ?it/s]

Parsing NOAA studies: 100%|████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 1512.55it/s]

[2025-11-04 08:07:21,493][INFO] - search_studies: Using identifier-only fetch (xml_id/NOAAStudyId). Other parameters will be ignored.

Request URL: https://www.ncei.noaa.gov/access/paleo-search/study/search.json?xmlId=1840&dataPublisher=NOAA

Parsing NOAA studies:   0%|                                                                                                      | 0/1 [00:00<?, ?it/s]

Parsing NOAA studies: 100%|████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 2028.19it/s]

,StudyID,XMLID,StudyName,DataType,EarliestYearBP,MostRecentYearBP,EarliestYearCE,MostRecentYearCE,StudyNotes,ScienceKeywords,Investigators,Publications,Sites,Funding
0,5589,1840,Southern Ocean Midlatitude 160KYr Alkenone SST...,PALEOCEANOGRAPHY,156360,1951,-154410,-1,None,[Sea Surface Temperature Reconstruction],"Katharina Pahnke, Julian Sachs","[{'Author': 'Pahnke, K. and J.P. Sachs', 'Titl...","[[{'DataTableID': '7966', 'DataTableName': 'M9...",[]

In [9]:
# Single phrase
df_singlephrase = ds.search_studies(search_text="younger dryas", limit=20)
df_singlephrase.head()

[2025-11-04 08:07:21,818][INFO] - search_studies: Limit set to 20.

Request URL: https://www.ncei.noaa.gov/access/paleo-search/study/search.json?dataPublisher=NOAA&limit=20&searchText=younger+dryas

Parsing NOAA studies:   0%|                                                                                                     | 0/20 [00:00<?, ?it/s]

Parsing NOAA studies: 100%|██████████████████████████████████████████████████████████████████████████████████████████| 20/20 [00:00<00:00, 4869.74it/s]

/Users/dhirenoswal/Desktop/PyleoTUPS/pyleotups/core/Dataset.py:501: UserWarning: Retrieved 20 studies, which is the specified limit. Consider increasing the limit parameter to fetch more studies.
  warnings.warn(

,StudyID,XMLID,StudyName,DataType,EarliestYearBP,MostRecentYearBP,EarliestYearCE,MostRecentYearCE,StudyNotes,ScienceKeywords,Investigators,Publications,Sites,Funding
0,5898,2709,Aharon 2003 Gulf of Mexico Deglacial Stable Is...,PALEOCEANOGRAPHY,18000.0,1000.0,-16050.0,950.0,None,None,Paul Aharon,"[{'Author': 'Aharon, P.', 'Title': 'Meltwater ...","[[{'DataTableID': '33150', 'DataTableName': 'A...",[]
1,40939,82023,Alaskan Lake Stable Isotope and Geochemistry D...,PALEOLIMNOLOGY,15126.0,-66.0,-13176.0,2016.0,"Provided Keywords: Paleohydrology, effective m...","[Pacific Decadal Oscillation, Atmospheric and ...","Lesleigh Anderson, Bruce Finney, W. Brad Baxter",[],"[[{'DataTableID': '55473', 'DataTableName': 'A...",[{'fundingAgency': 'United States Geological S...
2,25670,63714,Alkenone SST reconstructions from the eastern ...,PALEOCEANOGRAPHY,29840.0,790.0,-27890.0,1160.0,"Provided Keywords: Eastern Equatorial Pacific,...",[Sea Surface Temperature Reconstruction],"Athanasios Koutavas, Julian Sachs","[{'Author': 'Koutavas, A., and J.P. Sachs', 'T...","[[{'DataTableID': '37533', 'DataTableName': 'V...",[{'fundingAgency': 'US National Science Founda...
3,5919,2962,Andrews et al. 1999 Holocene High-Res Labrador...,PALEOCEANOGRAPHY,12000.0,0.0,-10050.0,1950.0,None,None,"Anne Jennings, John Andrews, Lloyd Keigwin, Fr...","[{'Author': 'Andrews, J. T., Keigwin, L., Hall...","[[{'DataTableID': '33128', 'DataTableName': 'A...",[]
4,11207,9643,Angola-Benguela Front ODP1078C 25KYr Alkenone ...,PALEOCEANOGRAPHY,24740.0,20.0,-22790.0,1930.0,Alkenone sea-surface temperature (SST) estimat...,[Sea Surface Temperature Reconstruction],"Jung-Hyun Kim, Ralph Schneider, Stefan Mulitza...","[{'Author': 'Kim, J.-H., R.R. Schneider, S. Mu...","[[{'DataTableID': '19810', 'DataTableName': 'O...",[{'fundingAgency': 'Bundesministerium für Bild...

In [10]:
# Logical operator (AND)
df_logop = ds.search_studies(search_text="loess AND stratigraphy", limit=20)
df_logop.head()

[2025-11-04 08:07:22,542][INFO] - search_studies: Limit set to 20.

Request URL: https://www.ncei.noaa.gov/access/paleo-search/study/search.json?dataPublisher=NOAA&limit=20&searchText=loess+AND+stratigraphy

Parsing NOAA studies:   0%|                                                                                                      | 0/1 [00:00<?, ?it/s]

Parsing NOAA studies: 100%|████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 4424.37it/s]

,StudyID,XMLID,StudyName,DataType,EarliestYearBP,MostRecentYearBP,EarliestYearCE,MostRecentYearCE,StudyNotes,ScienceKeywords,Investigators,Publications,Sites,Funding
0,5599,2466,Ding et al. 1999 Lingtai Loess Stratigraphy Data,LOESS AND PALEOSOL,7000000,0,-6998050,1950,None,None,Zhongli Ding,"[{'Author': 'Ding, Z.L., S.F. Xiong, J.M. Sun,...","[[{'DataTableID': '32592', 'DataTableName': 'L...",[]

In [11]:
# Wildcards: '_' (single char), '%' (multi-char)
df_wc_1 = ds.search_studies(search_text="f_re", limit=20)
df_wc_2 = ds.search_studies(search_text="pol%", limit=20)
df_wc_1.head(), df_wc_2.head()

[2025-11-04 08:07:22,911][INFO] - search_studies: Limit set to 20.

Request URL: https://www.ncei.noaa.gov/access/paleo-search/study/search.json?dataPublisher=NOAA&limit=20&searchText=f_re

Parsing NOAA studies:   0%|                                                                                                     | 0/20 [00:00<?, ?it/s]

Parsing NOAA studies: 100%|██████████████████████████████████████████████████████████████████████████████████████████| 20/20 [00:00<00:00, 8097.89it/s]

/Users/dhirenoswal/Desktop/PyleoTUPS/pyleotups/core/Dataset.py:501: UserWarning: Retrieved 20 studies, which is the specified limit. Consider increasing the limit parameter to fetch more studies.
  warnings.warn(
[2025-11-04 08:07:23,553][INFO] - search_studies: Limit set to 20.

Request URL: https://www.ncei.noaa.gov/access/paleo-search/study/search.json?dataPublisher=NOAA&limit=20&searchText=pol%25

Parsing NOAA studies:   0%|                                                                                                     | 0/20 [00:00<?, ?it/s]

Parsing NOAA studies: 100%|██████████████████████████████████████████████████████████████████████████████████████████| 20/20 [00:00<00:00, 5249.44it/s]

(  StudyID  XMLID                                          StudyName  \
 0    5473    652  A High-Resolution Record of Climatic Change in...
 1   18435  16119  Aishihik Basin, Yukon 12,000 Year Multiproxy L...
 2   22113  20095  Allen - Lake Riveaux/Abrotonella Rise - ATSE -...
 3    1926   5011  Anderson fire data from Swamp Lake - IMPD USSW...
 4   29752  71613  Andreu-Hayles - Ice Cut Dalton Highway - ALCR ...

          DataType  EarliestYearBP  MostRecentYearBP  EarliestYearCE  \
 0  PALEOLIMNOLOGY            1500               -32             450
 1  PALEOLIMNOLOGY           12906               -57          -10956
 2       TREE RING             538               -59            1412
 3    FIRE HISTORY           15819               -10          -13869
 4       TREE RING              30               -60            1920

    MostRecentYearCE                                         StudyNotes  \
 0              1982  Geochemical and paleontological data sets for ...
 1              2007  Multiproxy sediment data from Lake WA01, Aishi...
 2              2009  Post-1930 disturbanes at this site, including ...
 3              1960                                               None
 4              2010  North Slope, Alaska, 2010 shrub ring-width dat...

                                      ScienceKeywords  \
 0                                               None
 1                                               None
 2  [ATSE, King Billy pine, Athrotaxis selaginoide...
 3                                               None
 4  [Alnus viridis var. crispa (Ait.) Turrill, Ame...

                                        Investigators  \
 0                        Roger Anderson, Walter Dean
 1                 Rebecca Rainville, Konrad Gajewski
 2                                      Kathryn Allen
 3                                  R. Scott Anderson
 4  Laia Andreu-Hayles, Kevin Anchukaitis, Javi Ma...

                                         Publications  \
 0  [{'Author': 'Walter E. Dean, J.P. Bradbury, R....
 1  [{'Author': 'Rebecca A. Rainville and Konrad G...
 2  [{'Author': 'K.J. Allen,  J. Ogden, B.M. Buckl...
 3                                                 []
 4  [{'Author': 'Laia Andreu-Hayles, Benjamin V. G...

                                                Sites  \
 0  [[{'DataTableID': '8031', 'DataTableName': 'El...
 1  [[{'DataTableID': '28800', 'DataTableName': 'W...
 2  [[{'DataTableID': '33245', 'DataTableName': 'A...
 3  [[{'DataTableID': '2062', 'DataTableName': 'US...
 4  [[{'DataTableID': '42277', 'DataTableName': 'A...

                                              Funding
 0                                                 []
 1  [{'fundingAgency': 'Natural Sciences and Engin...
 2  [{'fundingAgency': 'Australian Research Counci...
 3                                                 []
 4  [{'fundingAgency': 'US National Science Founda...  ,
   StudyID  XMLID                                          StudyName  \
 0   10437   9101  1,000 Year Ensemble Reconstructions of Tempera...
 1   36253  77512  10Be Chronology of Khoton Nuur Glacial Landfor...
 2   22315  20388        2000 Year Tropical Rainfall Reconstructions
 3   12894  10958  9400 Year Cosmogenic Isotope Data and Solar Ac...
 4   19281  16968  A global planktic foraminifer census data set ...

                   DataType  EarliestYearBP  MostRecentYearBP  EarliestYearCE  \
 0  CLIMATE RECONSTRUCTIONS           950.0             -45.0          1000.0
 1  CLIMATE RECONSTRUCTIONS         35000.0           16000.0        -33050.0
 2  CLIMATE RECONSTRUCTIONS          2000.0             -50.0           -50.0
 3          CLIMATE FORCING          9389.0             -27.0         -7439.0
 4         PALEOCEANOGRAPHY       6181000.0         1603000.0      -6179050.0

    MostRecentYearCE                                         StudyNotes  \
 0            1995.0  Calibration ensemble reconstructions of existi...
 1          -14050.0                                               None
 2            2000.0  Composite reconstruction of low latitude rainf...
 3            1977.0  Records of common production rate of cosmogeni...
 4        -1601050.0  Data Compilers: Foley, Kevin; Robinson, Marci;...

                                      ScienceKeywords  \
 0  [Air Temperature Reconstruction, carbon cycle,...
 1                                               None
 2                     [Precipitation Reconstruction]
 3                     [Solar Forcing Reconstruction]
 4                                               None

                                        Investigators  \
 0  Jan Esper, Christoph Raible, Ulf Büntgen, Thom...
 1  Peter Strand, Aaron Putnam, Oyungerel Sambuu, ...
 2  Franziska Lechleitner, Sebastian Breitenbach, ...
 3  Frank Wilhelms, Hans Oerter, Hubertus Fischer,...
 4  Kevin Foley, Marci Robinson, Harry Dowsett, Ri...

                                         Publications  \
 0  [{'Author': 'Frank, D.C., J. Esper, C.C. Raibl...
 1  [{'Author': 'Strand, Peter D., Aaron E. Putnam...
 2  [{'Author': 'Franziska A. Lechleitner, Sebasti...
 3  [{'Author': 'Steinhilber, F., J.A. Abreu, J. B...
 4  [{'Author': 'Dowsett, H., M. Robinson, A. Hayw...

                                                Sites  \
 0  [[{'DataTableID': '19235', 'DataTableName': 'F...
 1  [[{'DataTableID': '48957', 'DataTableName': 'K...
 2  [[{'DataTableID': '33444', 'DataTableName': 'L...
 3  [[{'DataTableID': '21230', 'DataTableName': 'T...
 4  [[{'DataTableID': '29818', 'DataTableName': 'R...

                                              Funding
 0  [{'fundingAgency': 'Swiss National Science Fou...
 1  [{'fundingAgency': 'US National Science Founda...
 2  [{'fundingAgency': 'European Union', 'fundingG...
 3  [{'fundingAgency': 'Swiss National Science Fou...
 4                                                 []  )

In [12]:
# Escaping special characters (use backslashes)
df_specchar = ds.search_studies(search_text=r"noaa\-tree\-19260", limit=20)
df_specchar.head()

[2025-11-04 08:07:24,525][INFO] - search_studies: Limit set to 20.

Request URL: https://www.ncei.noaa.gov/access/paleo-search/study/search.json?dataPublisher=NOAA&limit=20&searchText=noaa%5C-tree%5C-19260

Parsing NOAA studies:   0%|                                                                                                      | 0/1 [00:00<?, ?it/s]

Parsing NOAA studies: 100%|████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 1695.35it/s]

,StudyID,XMLID,StudyName,DataType,EarliestYearBP,MostRecentYearBP,EarliestYearCE,MostRecentYearCE,StudyNotes,ScienceKeywords,Investigators,Publications,Sites,Funding
0,19260,16927,Samonil - Zofinsky prales - ABAL - ITRDB CZEC003,TREE RING,363,-60,1587,2010,NOAA Template Chronology file added 2018-12-1...,"[Abies alba Mill., ABAL, silver fir, European ...","Pavel Šamonil, Petra Doleželová, Ivana Vašíčko...","[{'Author': 'Pavel Šamonil, Petra Doleželová, ...","[[{'DataTableID': '29759', 'DataTableName': 'C...",[]

In [13]:
# Multiple investigators (OR by default)
df_multinv_default = ds.search_studies(investigators=["Wahl, E.R.", "Vose, R.S."])
df_multinv_default.head()

[2025-11-04 08:07:24,912][INFO] - search_studies: Limit defaulted to 100 (PyleoTUPS).

Request URL: https://www.ncei.noaa.gov/access/paleo-search/study/search.json?dataPublisher=NOAA&limit=100&investigators=Wahl%2C+E.R.%7CVose%2C+R.S.&investigatorsAndOr=or

Parsing NOAA studies:   0%|                                                                                                     | 0/24 [00:00<?, ?it/s]

Parsing NOAA studies: 100%|██████████████████████████████████████████████████████████████████████████████████████████| 24/24 [00:00<00:00, 7241.96it/s]

,StudyID,XMLID,StudyName,DataType,EarliestYearBP,MostRecentYearBP,EarliestYearCE,MostRecentYearCE,StudyNotes,ScienceKeywords,Investigators,Publications,Sites,Funding
0,8405,2665,Ammann and Wahl 2007 N. Hemisphere Temperature...,CLIMATE RECONSTRUCTIONS,950,-30,1000,1980,,[Air Temperature Reconstruction],"Eugene Wahl, Caspar Ammann","[{'Author': 'Ammann, C.M. and E.R. Wahl', 'Tit...","[[{'DataTableID': '19446', 'DataTableName': 'P...",[]
1,18295,15997,California and Western Nevada Precipitation Re...,CLIMATE RECONSTRUCTIONS,379,-27,1571,1977,Water year (October through following Septembe...,"[drought, Precipitation Reconstruction]","Henry Diaz, Eugene Wahl",[{'Author': 'Henry F. Diaz and Eugene R. Wahl'...,"[[{'DataTableID': '28654', 'DataTableName': 'C...",[]
2,19600,17329,European Mean and Spatial Summer Temperature R...,CLIMATE RECONSTRUCTIONS,2088,-53,-138,2003,Spatial (5x5 degree grid) reconstructions of E...,"[Air Temperature Reconstruction, PAGES Euro-Me...","Elena García-Bustamante, Quansheng Ge, Jürg Lu...","[{'Author': 'J. Luterbacher, J. P. Werner, J. ...","[[{'DataTableID': '30218', 'DataTableName': 'L...",[{'fundingAgency': 'US National Science Founda...
3,20465,18279,Hawaiian Islands 500 Year Winter Rainfall and ...,CLIMATE RECONSTRUCTIONS,450,-62,1500,2012,Reconstructions of Hawaii winter (Dec-Feb) pre...,"[Other Reconstruction, pressure, Precipitation...","Eugene Wahl, Eduardo Zorita, Thomas Giambelluc...","[{'Author': 'Henry F. Diaz, Eugene R. Wahl, Ed...","[[{'DataTableID': '31159', 'DataTableName': 'H...",[]
4,22454,20650,Living Blended Drought Atlas (LBDA) Version 2 ...,CLIMATE RECONSTRUCTIONS,1950,-67,0,2017,The half degree gridded Jun-Aug PMDI reconstru...,"[drought, Palmer Drought Index Reconstruction]","Edward Gille, Eugene Wahl, Russell Vose, Edwar...","[{'Author': 'Cook, E.R., Seager, R., Heim, R.R...","[[{'DataTableID': '33588', 'DataTableName': 'C...",[]

In [14]:
# Multiple investigators (AND by default)
df_multinv_and = ds.search_studies(investigators=["Wahl, E.R.", "Vose, R.S."], investigatorsAndOr = "and")
df_multinv_and.head()

[2025-11-04 08:07:25,781][INFO] - search_studies: Limit defaulted to 100 (PyleoTUPS).

Request URL: https://www.ncei.noaa.gov/access/paleo-search/study/search.json?dataPublisher=NOAA&limit=100&investigators=Wahl%2C+E.R.%7CVose%2C+R.S.&investigatorsAndOr=or

Parsing NOAA studies:   0%|                                                                                                     | 0/24 [00:00<?, ?it/s]

Parsing NOAA studies: 100%|██████████████████████████████████████████████████████████████████████████████████████████| 24/24 [00:00<00:00, 7350.91it/s]

,StudyID,XMLID,StudyName,DataType,EarliestYearBP,MostRecentYearBP,EarliestYearCE,MostRecentYearCE,StudyNotes,ScienceKeywords,Investigators,Publications,Sites,Funding
0,8405,2665,Ammann and Wahl 2007 N. Hemisphere Temperature...,CLIMATE RECONSTRUCTIONS,950,-30,1000,1980,,[Air Temperature Reconstruction],"Eugene Wahl, Caspar Ammann","[{'Author': 'Ammann, C.M. and E.R. Wahl', 'Tit...","[[{'DataTableID': '19446', 'DataTableName': 'P...",[]
1,18295,15997,California and Western Nevada Precipitation Re...,CLIMATE RECONSTRUCTIONS,379,-27,1571,1977,Water year (October through following Septembe...,"[drought, Precipitation Reconstruction]","Henry Diaz, Eugene Wahl",[{'Author': 'Henry F. Diaz and Eugene R. Wahl'...,"[[{'DataTableID': '28654', 'DataTableName': 'C...",[]
2,19600,17329,European Mean and Spatial Summer Temperature R...,CLIMATE RECONSTRUCTIONS,2088,-53,-138,2003,Spatial (5x5 degree grid) reconstructions of E...,"[Air Temperature Reconstruction, PAGES Euro-Me...","Elena García-Bustamante, Quansheng Ge, Jürg Lu...","[{'Author': 'J. Luterbacher, J. P. Werner, J. ...","[[{'DataTableID': '30218', 'DataTableName': 'L...",[{'fundingAgency': 'US National Science Founda...
3,20465,18279,Hawaiian Islands 500 Year Winter Rainfall and ...,CLIMATE RECONSTRUCTIONS,450,-62,1500,2012,Reconstructions of Hawaii winter (Dec-Feb) pre...,"[Other Reconstruction, pressure, Precipitation...","Eugene Wahl, Eduardo Zorita, Thomas Giambelluc...","[{'Author': 'Henry F. Diaz, Eugene R. Wahl, Ed...","[[{'DataTableID': '31159', 'DataTableName': 'H...",[]
4,22454,20650,Living Blended Drought Atlas (LBDA) Version 2 ...,CLIMATE RECONSTRUCTIONS,1950,-67,0,2017,The half degree gridded Jun-Aug PMDI reconstru...,"[drought, Palmer Drought Index Reconstruction]","Edward Gille, Eugene Wahl, Russell Vose, Edwar...","[{'Author': 'Cook, E.R., Seager, R., Heim, R.R...","[[{'DataTableID': '33588', 'DataTableName': 'C...",[]

In [15]:
# Keywords: hierarchy with '>' and multiple via '|'
df_keywords = ds.search_studies(keywords="earth science>paleoclimate>paleocean>biomarkers")
df_keywords.head()

[2025-11-04 08:07:26,662][INFO] - search_studies: Limit defaulted to 100 (PyleoTUPS).

Request URL: https://www.ncei.noaa.gov/access/paleo-search/study/search.json?dataPublisher=NOAA&limit=100&keywords=earth+science%3Epaleoclimate%3Epaleocean%3Ebiomarkers

Parsing NOAA studies:   0%|                                                                                                    | 0/100 [00:00<?, ?it/s]

Parsing NOAA studies: 100%|███████████████████████████████████████████████████████████████████████████████████████| 100/100 [00:00<00:00, 11642.44it/s]

,StudyID,XMLID,StudyName,DataType,EarliestYearBP,MostRecentYearBP,EarliestYearCE,MostRecentYearCE,StudyNotes,ScienceKeywords,Investigators,Publications,Sites,Funding
0,22588,20773,2.8 million years of alkenone and TEX86 data a...,PALEOCEANOGRAPHY,2785481.0,257.0,-2783531.0,1693.0,Surface and subsurface temperature difference ...,[Sea Surface Temperature Reconstruction],"Dawei Li, Meixun Zhao, Jun Tian","[{'Author': 'Li, D., M. Zhao, and J. Tian', 'T...","[[{'DataTableID': '33711', 'DataTableName': 'O...",[]
1,34232,75912,"Adélie Drift, East Antarctic Fatty Acid Carbon...",PALEOCEANOGRAPHY,363.0,-48.0,1587.0,1998.0,"Provided Keywords: Paleoceanography, Sea Ice R...",None,"Philippine Campagne, Harry Gilchrist, Uthmaan ...","[{'Author': 'Ashley, Kate, James Bendle, Xavie...","[[{'DataTableID': '47058', 'DataTableName': 'D...",[{'fundingAgency': 'European Commission Sevent...
2,33472,75092,Agulhas Plateau Biomarker Data and SST Reconst...,PALEOCEANOGRAPHY,1400000.0,339800.0,-1398050.0,-337850.0,A new biomarker records of upper water column ...,[Sea Surface Temperature Reconstruction],"Christopher Charles, Janna Just, Jason Coenen,...","[{'Author': 'Cartagena-Sierra, A., Berke, M.A....","[[{'DataTableID': '46117', 'DataTableName': 'I...",[{'fundingAgency': 'US National Science Founda...
3,12886,10949,Aleutian Islands 225 Year Coralline Algae Grow...,PALEOCEANOGRAPHY,167.0,-57.0,1783.0,2007.0,225 year growth chronology of the coralline al...,"[Pacific Decadal Oscillation, PAGES 2k Network...","Branwen Williams, Steffen Hetzinger, Jochen Ha...","[{'Author': 'Halfar, J., B. Williams, S. Hetzi...","[[{'DataTableID': '21219', 'DataTableName': '0...",[{'fundingAgency': 'Natural Sciences and Engin...
4,25670,63714,Alkenone SST reconstructions from the eastern ...,PALEOCEANOGRAPHY,29840.0,790.0,-27890.0,1160.0,"Provided Keywords: Eastern Equatorial Pacific,...",[Sea Surface Temperature Reconstruction],"Athanasios Koutavas, Julian Sachs","[{'Author': 'Koutavas, A., and J.P. Sachs', 'T...","[[{'DataTableID': '37533', 'DataTableName': 'V...",[{'fundingAgency': 'US National Science Founda...

In [16]:
# Location hierarchy
df_loc = ds.search_studies(locations="Continent>Africa>Eastern Africa>Zambia")
df_loc.head()

[2025-11-04 08:07:29,009][INFO] - search_studies: Limit defaulted to 100 (PyleoTUPS).

Request URL: https://www.ncei.noaa.gov/access/paleo-search/study/search.json?dataPublisher=NOAA&limit=100&locations=Continent%3EAfrica%3EEastern+Africa%3EZambia

Parsing NOAA studies:   0%|                                                                                                     | 0/24 [00:00<?, ?it/s]

Parsing NOAA studies: 100%|██████████████████████████████████████████████████████████████████████████████████████████| 24/24 [00:00<00:00, 1657.25it/s]

,StudyID,XMLID,StudyName,DataType,EarliestYearBP,MostRecentYearBP,EarliestYearCE,MostRecentYearCE,StudyNotes,ScienceKeywords,Investigators,Publications,Sites,Funding
0,1000537,1000160,Global Database of Borehole Temperatures and C...,BOREHOLE,450,-22,1500,1972,"This project has as its goal the design, asse...","[Air Temperature Reconstruction, temperature]","Po Yu Shen, Henry Pollack, Shaopeng Huang","[{'Author': 'Huang, S., Pollack, H.N., and She...","[[{'DataTableID': '1000631', 'DataTableName': ...",[{'fundingAgency': 'US National Science Founda...
1,1000538,1000161,Global Database of Borehole Temperatures and C...,BOREHOLE,450,-22,1500,1972,"This project has as its goal the design, asse...","[temperature, Air Temperature Reconstruction]","Henry Pollack, Shaopeng Huang, Po Yu Shen","[{'Author': 'Huang, S., Pollack, H.N., and She...","[[{'DataTableID': '1000632', 'DataTableName': ...",[{'fundingAgency': 'US National Science Founda...
2,1000540,1000163,Global Database of Borehole Temperatures and C...,BOREHOLE,450,-24,1500,1974,"This project has as its goal the design, asse...","[temperature, Air Temperature Reconstruction]","Henry Pollack, Po Yu Shen, Shaopeng Huang","[{'Author': 'Huang, S., Pollack, H.N., and She...","[[{'DataTableID': '1000634', 'DataTableName': ...",[{'fundingAgency': 'US National Science Founda...
3,1000541,1000164,Global Database of Borehole Temperatures and C...,BOREHOLE,450,-24,1500,1974,"This project has as its goal the design, asse...","[temperature, Air Temperature Reconstruction]","Henry Pollack, Shaopeng Huang, Po Yu Shen","[{'Author': 'Huang, S., Pollack, H.N., and She...","[[{'DataTableID': '1000635', 'DataTableName': ...",[{'fundingAgency': 'US National Science Founda...
4,1000539,1000162,Global Database of Borehole Temperatures and C...,BOREHOLE,450,-38,1500,1988,"This project has as its goal the design, asse...","[temperature, Air Temperature Reconstruction]","Shaopeng Huang, Henry Pollack, Po Yu Shen","[{'Author': 'Huang, S., Pollack, H.N., and She...","[[{'DataTableID': '1000633', 'DataTableName': ...",[{'fundingAgency': 'US National Science Founda...

In [17]:
# Species: four-letter codes (uppercase enforced)
df_species = ds.search_studies(species=["ABAL", "PIPO"])
df_species.head()

[2025-11-04 08:07:30,724][INFO] - search_studies: Limit defaulted to 100 (PyleoTUPS).

Request URL: https://www.ncei.noaa.gov/access/paleo-search/study/search.json?dataPublisher=NOAA&limit=100&species=ABAL%7CPIPO&speciesAndOr=or

Parsing NOAA studies:   0%|                                                                                                    | 0/100 [00:00<?, ?it/s]

Parsing NOAA studies: 100%|███████████████████████████████████████████████████████████████████████████████████████| 100/100 [00:00<00:00, 10068.42it/s]

,StudyID,XMLID,StudyName,DataType,EarliestYearBP,MostRecentYearBP,EarliestYearCE,MostRecentYearCE,StudyNotes,ScienceKeywords,Investigators,Publications,Sites,Funding
0,26070,64380,Azpeleta Tarancón fire data from Mistletoe Can...,FIRE HISTORY,418,-64,1532,2014,This site was sampled to assess the spatiotemp...,"[eastern white pine, Pseudotsuga menziesii (Mi...","Alicia Azpeleta Tarancón, Peter Fulé, Andrew S...","[{'Author': 'Azpeleta Tarancon, A., Fulé, P.Z....","[[{'DataTableID': '37993', 'DataTableName': 'U...",[{'fundingAgency': 'US Department of Agricultu...
1,26071,64375,Azpeleta Tarancón fire data from Potato Patch ...,FIRE HISTORY,271,-65,1679,2015,This site was sampled to assess the spatiotemp...,"[PIPO, Douglas-fir, Pinus ponderosa Douglas ex...","Alicia Azpeleta Tarancón, Peter Fulé, Andrew S...","[{'Author': 'Azpeleta Tarancon, A., Fulé, P.Z....","[[{'DataTableID': '37994', 'DataTableName': 'U...",[{'fundingAgency': 'USDA National Institute of...
2,26073,64376,"Azpeleta Tarancón fire data from Snow Canyon, ...",FIRE HISTORY,578,-14,1372,1964,This site was sampled to assess the spatiotemp...,"[eastern white pine, Pseudotsuga menziesii (Mi...","Alicia Azpeleta Tarancón, Peter Fulé, Andrew S...","[{'Author': 'Azpeleta Tarancon, A., Fulé, P.Z....","[[{'DataTableID': '37996', 'DataTableName': 'U...",[]
3,26072,64374,"Azpeleta Tarancón fire data from Solon, south ...",FIRE HISTORY,351,-62,1599,2012,"Tarancón fire data from Solon, south central N...","[Pinus ponderosa Douglas ex C. Lawson, eastern...","Alicia Azpeleta Tarancón, Peter Fulé, Andrew S...","[{'Author': 'Azpeleta Tarancon, A., Fulé, P.Z....","[[{'DataTableID': '37995', 'DataTableName': 'U...",[{'fundingAgency': 'USDA National Institute of...
4,26074,64381,Azpeleta Tarancón fire data from Turkey Canyon...,FIRE HISTORY,343,-53,1607,2003,This site was sampled to assess the spatiotemp...,"[PIPO, western yellow pine, Pinus ponderosa Do...","Alicia Azpeleta Tarancón, Peter Fulé, Andrew S...","[{'Author': 'Azpeleta Tarancon, A., Fulé, P.Z....","[[{'DataTableID': '37997', 'DataTableName': 'U...",[{'fundingAgency': 'USDA National Institute of...

In [18]:
# Data types: one or more IDs separated by '|'
df_muldatatypes = ds.search_studies(data_type_id="4|18")
df_muldatatypes.head()

[2025-11-04 08:07:32,115][INFO] - search_studies: Limit defaulted to 100 (PyleoTUPS).

Request URL: https://www.ncei.noaa.gov/access/paleo-search/study/search.json?dataPublisher=NOAA&limit=100

Parsing NOAA studies:   0%|                                                                                                    | 0/100 [00:00<?, ?it/s]

Parsing NOAA studies: 100%|███████████████████████████████████████████████████████████████████████████████████████| 100/100 [00:00<00:00, 12946.58it/s]

,StudyID,XMLID,StudyName,DataType,EarliestYearBP,MostRecentYearBP,EarliestYearCE,MostRecentYearCE,StudyNotes,ScienceKeywords,Investigators,Publications,Sites,Funding
0,10437,9101,"1,000 Year Ensemble Reconstructions of Tempera...",CLIMATE RECONSTRUCTIONS,950.0,-45.0,1000.0,1995.0,Calibration ensemble reconstructions of existi...,"[Air Temperature Reconstruction, carbon cycle,...","Jan Esper, Christoph Raible, Ulf Büntgen, Thom...","[{'Author': 'Frank, D.C., J. Esper, C.C. Raibl...","[[{'DataTableID': '19235', 'DataTableName': 'F...",[{'fundingAgency': 'Swiss National Science Fou...
1,11194,9632,"1,100 Year El Niño/Southern Oscillation (ENSO)...",CLIMATE RECONSTRUCTIONS,1050.0,-52.0,900.0,2002.0,An index of canonical ENSO variability for the...,"[ENSO, Atmospheric and Oceanic Circulation Pat...","Jinbao Li, Shang-Ping Xie, Edward Cook, Rosann...","[{'Author': 'Li, J., S.-P. Xie, E.R. Cook, G. ...","[[{'DataTableID': '19791', 'DataTableName': 'e...",[{'fundingAgency': 'US National Science Founda...
2,14193,12194,1000 Year Composite Sea Surface Temperature Re...,PALEOCEANOGRAPHY,950.0,-46.0,1000.0,1996.0,A set of reconstructions of sea surface temper...,None,"Laura Cunningham, William Austin, Karen-Luise ...","[{'Author': 'Cunningham, L.K., Austin, W.E.N.,...","[[{'DataTableID': '24146', 'DataTableName': 'P...","[{'fundingAgency': 'European Commission', 'fun..."
3,42679,83754,1006-year reconstruction of Rossby wavenumber-5,CLIMATE RECONSTRUCTIONS,950.0,-55.0,1000.0,2005.0,None,[Atmospheric and Oceanic Circulation Patterns ...,"Kai Kornhuber, Ellie Broadman, Valerie Trouet","[{'Author': 'Broadman, Ellie, Kai Kornhuber, I...","[[{'DataTableID': '56946', 'DataTableName': 'W...",[{'fundingAgency': 'US National Science Founda...
4,36253,77512,10Be Chronology of Khoton Nuur Glacial Landfor...,CLIMATE RECONSTRUCTIONS,35000.0,16000.0,-33050.0,-14050.0,None,None,"Peter Strand, Aaron Putnam, Oyungerel Sambuu, ...","[{'Author': 'Strand, Peter D., Aaron E. Putnam...","[[{'DataTableID': '48957', 'DataTableName': 'K...",[{'fundingAgency': 'US National Science Founda...

In [19]:
df_latlong = ds.search_studies(min_lat=68, max_lat=69, min_lon=30, max_lon=40)
df_latlong.head()

[2025-11-04 08:07:33,321][INFO] - search_studies: Limit defaulted to 100 (PyleoTUPS).

Request URL: https://www.ncei.noaa.gov/access/paleo-search/study/search.json?dataPublisher=NOAA&limit=100&minLat=68&maxLat=69&minLon=30&maxLon=40

Parsing NOAA studies:   0%|                                                                                                    | 0/100 [00:00<?, ?it/s]

Parsing NOAA studies: 100%|███████████████████████████████████████████████████████████████████████████████████████| 100/100 [00:00<00:00, 11204.53it/s]

,StudyID,XMLID,StudyName,DataType,EarliestYearBP,MostRecentYearBP,EarliestYearCE,MostRecentYearCE,StudyNotes,ScienceKeywords,Investigators,Publications,Sites,Funding
0,10437,9101,"1,000 Year Ensemble Reconstructions of Tempera...",CLIMATE RECONSTRUCTIONS,950.0,-45.0,1000.0,1995.0,Calibration ensemble reconstructions of existi...,"[Air Temperature Reconstruction, carbon cycle,...","Jan Esper, Christoph Raible, Ulf Büntgen, Thom...","[{'Author': 'Frank, D.C., J. Esper, C.C. Raibl...","[[{'DataTableID': '19235', 'DataTableName': 'F...",[{'fundingAgency': 'Swiss National Science Fou...
1,42679,83754,1006-year reconstruction of Rossby wavenumber-5,CLIMATE RECONSTRUCTIONS,950.0,-55.0,1000.0,2005.0,None,[Atmospheric and Oceanic Circulation Patterns ...,"Kai Kornhuber, Ellie Broadman, Valerie Trouet","[{'Author': 'Broadman, Ellie, Kai Kornhuber, I...","[[{'DataTableID': '56946', 'DataTableName': 'W...",[{'fundingAgency': 'US National Science Founda...
2,12203,10267,2000 Year Precipitation-Based Southern Oscilla...,CLIMATE RECONSTRUCTIONS,1900.0,-5.0,50.0,1955.0,Reconstruction of a precipitation-based Southe...,[Atmospheric and Oceanic Circulation Patterns ...,"Liguang Sun, Yuhong Wang, Wen Huang, Shican Qi...","[{'Author': 'Yan, H., L. Sun, Y. Wang, W. Huan...","[[{'DataTableID': '20526', 'DataTableName': 'S...",[{'fundingAgency': 'National Natural Science F...
3,14190,12191,600 Year Ensemble Climate Reconstructions and ...,CLIMATE RECONSTRUCTIONS,550.0,-61.0,1400.0,2011.0,"Ensemble Climate Reconstructions, input data f...",[Air Temperature Reconstruction],"Martin Tingley, Peter Huybers","[{'Author': 'Tingley, M.P. and P. Huybers', 'T...","[[{'DataTableID': '24136', 'DataTableName': 'T...",[{'fundingAgency': 'US National Science Founda...
4,12894,10958,9400 Year Cosmogenic Isotope Data and Solar Ac...,CLIMATE FORCING,9389.0,-27.0,-7439.0,1977.0,Records of common production rate of cosmogeni...,[Solar Forcing Reconstruction],"Frank Wilhelms, Hans Oerter, Hubertus Fischer,...","[{'Author': 'Steinhilber, F., J.A. Abreu, J. B...","[[{'DataTableID': '21230', 'DataTableName': 'T...",[{'fundingAgency': 'Swiss National Science Fou...

In [20]:
df_elv = ds.search_studies(min_elevation=100, max_elevation=110)
df_elv.head()

[2025-11-04 08:07:34,420][INFO] - search_studies: Limit defaulted to 100 (PyleoTUPS).

Request URL: https://www.ncei.noaa.gov/access/paleo-search/study/search.json?dataPublisher=NOAA&limit=100&minElev=100&maxElev=110

Parsing NOAA studies:   0%|                                                                                                    | 0/100 [00:00<?, ?it/s]

Parsing NOAA studies: 100%|███████████████████████████████████████████████████████████████████████████████████████| 100/100 [00:00<00:00, 11261.39it/s]

,StudyID,XMLID,StudyName,DataType,EarliestYearBP,MostRecentYearBP,EarliestYearCE,MostRecentYearCE,StudyNotes,ScienceKeywords,Investigators,Publications,Sites,Funding
0,40170,81293,"Abissal Cave, Rainha Cave Geochemical Data fro...",SPELEOTHEMS,25694.0,4044.0,-23744.0,-2094.0,Data contributed as part of SISAL v3 Global Sp...,None,"Francisco Cruz, Mathias Vuille, Stephen Burns,...","[{'Author': 'Cruz, Francisco W.; Mathias Vuill...","[[{'DataTableID': '53529', 'DataTableName': 'A...",[]
1,40477,81622,Adenesky-Filho - Blumenau - SC - CEFI - ITRDB ...,TREE RING,13.0,-61.0,1937.0,2011.0,Tropical Tree Ring Network SiteID = CEFIS_BRA_07,"[CEFI, Cedrela fissilis Vell., Cedro rosa]","Eduardo Adenesky-Filho, Karin Esemann-Quadros,...","[{'Author': 'Unknown Author', 'Title': 'Unknow...","[[{'DataTableID': '54044', 'DataTableName': 'B...",[]
2,40939,82023,Alaskan Lake Stable Isotope and Geochemistry D...,PALEOLIMNOLOGY,15126.0,-66.0,-13176.0,2016.0,"Provided Keywords: Paleohydrology, effective m...","[Pacific Decadal Oscillation, Atmospheric and ...","Lesleigh Anderson, Bruce Finney, W. Brad Baxter",[],"[[{'DataTableID': '55473', 'DataTableName': 'A...",[{'fundingAgency': 'United States Geological S...
3,31418,73106,Allen - Tiwi Islands - CAIN - ITRDB AUSL060,TREE RING,73.0,-57.0,1877.0,2007.0,Callitris intratropica ring-width data used fo...,"[CAIN, cypress pine, Callitris intratropica R....","Kathryn Allen, Jonathan Palmer, Patrick Baker","[{'Author': 'K.J. Allen, M.B. Freund, J.G. Pal...","[[{'DataTableID': '43922', 'DataTableName': 'A...",[{'fundingAgency': 'Australian Research Counci...
4,28315,68766,Arnold - Codnor Castle - QUSP - ITRDB BRIT078,TREE RING,569.0,391.0,1381.0,1559.0,NOAA Template Raw Measurements file added 2020...,"[Quercus spp. L., oak, QUSP]","Alison Arnold, Robert Howard",[],"[[{'DataTableID': '40602', 'DataTableName': 'B...","[{'fundingAgency': 'Historic England', 'fundin..."

In [21]:
# Explicit BP with method
df_timew = ds.search_studies(earliest_year=12000, time_format="BP", time_method="overAny")
df_timew.head()

[2025-11-04 08:07:35,558][INFO] - search_studies: Limit defaulted to 100 (PyleoTUPS).

Request URL: https://www.ncei.noaa.gov/access/paleo-search/study/search.json?dataPublisher=NOAA&limit=100&earliestYear=12000&timeFormat=BP&timeMethod=overAny

Parsing NOAA studies:   0%|                                                                                                    | 0/100 [00:00<?, ?it/s]

Parsing NOAA studies: 100%|███████████████████████████████████████████████████████████████████████████████████████| 100/100 [00:00<00:00, 13085.53it/s]

,StudyID,XMLID,StudyName,DataType,EarliestYearBP,MostRecentYearBP,EarliestYearCE,MostRecentYearCE,StudyNotes,ScienceKeywords,Investigators,Publications,Sites,Funding
0,10437,9101,"1,000 Year Ensemble Reconstructions of Tempera...",CLIMATE RECONSTRUCTIONS,950,-45,1000,1995,Calibration ensemble reconstructions of existi...,"[Air Temperature Reconstruction, carbon cycle,...","Jan Esper, Christoph Raible, Ulf Büntgen, Thom...","[{'Author': 'Frank, D.C., J. Esper, C.C. Raibl...","[[{'DataTableID': '19235', 'DataTableName': 'F...",[{'fundingAgency': 'Swiss National Science Fou...
1,11194,9632,"1,100 Year El Niño/Southern Oscillation (ENSO)...",CLIMATE RECONSTRUCTIONS,1050,-52,900,2002,An index of canonical ENSO variability for the...,"[ENSO, Atmospheric and Oceanic Circulation Pat...","Jinbao Li, Shang-Ping Xie, Edward Cook, Rosann...","[{'Author': 'Li, J., S.-P. Xie, E.R. Cook, G. ...","[[{'DataTableID': '19791', 'DataTableName': 'e...",[{'fundingAgency': 'US National Science Founda...
2,14193,12194,1000 Year Composite Sea Surface Temperature Re...,PALEOCEANOGRAPHY,950,-46,1000,1996,A set of reconstructions of sea surface temper...,None,"Laura Cunningham, William Austin, Karen-Luise ...","[{'Author': 'Cunningham, L.K., Austin, W.E.N.,...","[[{'DataTableID': '24146', 'DataTableName': 'P...","[{'fundingAgency': 'European Commission', 'fun..."
3,42679,83754,1006-year reconstruction of Rossby wavenumber-5,CLIMATE RECONSTRUCTIONS,950,-55,1000,2005,None,[Atmospheric and Oceanic Circulation Patterns ...,"Kai Kornhuber, Ellie Broadman, Valerie Trouet","[{'Author': 'Broadman, Ellie, Kai Kornhuber, I...","[[{'DataTableID': '56946', 'DataTableName': 'W...",[{'fundingAgency': 'US National Science Founda...
4,22031,20009,1200 Year Atlantic Multidecadal Variability an...,CLIMATE RECONSTRUCTIONS,1150,-60,800,2010,Summer (May-September) Atlantic Multidecadal V...,[Atmospheric and Oceanic Circulation Patterns ...,"Jianglin Wang, Bao Yang, Fredrik Ljungqvist, J...","[{'Author': 'Jianglin Wang, Bao Yang, Fredrik ...","[[{'DataTableID': '33108', 'DataTableName': 'W...",[{'fundingAgency': 'National Natural Science F...

In [22]:
# No time_format/time_method → defaults to CE
df_time_defualt = ds.search_studies(earliest_year=1500, latest_year=0)
df_time_defualt.head()

[2025-11-04 08:07:36,926][INFO] - search_studies: Limit defaulted to 100 (PyleoTUPS).

[2025-11-04 08:07:36,927][INFO] - search_studies: time_format not provided; defaulted to 'CE'.

Request URL: https://www.ncei.noaa.gov/access/paleo-search/study/search.json?dataPublisher=NOAA&limit=100&earliestYear=1500&latestYear=0&timeFormat=CE

Parsing NOAA studies:   0%|                                                                                                    | 0/100 [00:00<?, ?it/s]

Parsing NOAA studies: 100%|████████████████████████████████████████████████████████████████████████████████████████| 100/100 [00:00<00:00, 8649.83it/s]

,StudyID,XMLID,StudyName,DataType,EarliestYearBP,MostRecentYearBP,EarliestYearCE,MostRecentYearCE,StudyNotes,ScienceKeywords,Investigators,Publications,Sites,Funding
0,22588,20773,2.8 million years of alkenone and TEX86 data a...,PALEOCEANOGRAPHY,2785481,257,-2783531,1693,Surface and subsurface temperature difference ...,[Sea Surface Temperature Reconstruction],"Dawei Li, Meixun Zhao, Jun Tian","[{'Author': 'Li, D., M. Zhao, and J. Tian', 'T...","[[{'DataTableID': '33711', 'DataTableName': 'O...",[]
1,22315,20388,2000 Year Tropical Rainfall Reconstructions,CLIMATE RECONSTRUCTIONS,2000,-50,-50,2000,Composite reconstruction of low latitude rainf...,[Precipitation Reconstruction],"Franziska Lechleitner, Sebastian Breitenbach, ...","[{'Author': 'Franziska A. Lechleitner, Sebasti...","[[{'DataTableID': '33444', 'DataTableName': 'L...","[{'fundingAgency': 'European Union', 'fundingG..."
2,22390,20667,"860,000 Years of foraminifera-bound nitrogen i...",PALEOCEANOGRAPHY,860000,0,-858050,1950,"A 860,000-year nitrogen isotope record from So...",None,"Haojia Ren, Daniel Sigman, Alfredo Martínez-Ga...","[{'Author': 'Ren, H.; Sigman, D.M.; Martinez-G...","[[{'DataTableID': '33610', 'DataTableName': 'M...",[]
3,12894,10958,9400 Year Cosmogenic Isotope Data and Solar Ac...,CLIMATE FORCING,9389,-27,-7439,1977,Records of common production rate of cosmogeni...,[Solar Forcing Reconstruction],"Frank Wilhelms, Hans Oerter, Hubertus Fischer,...","[{'Author': 'Steinhilber, F., J.A. Abreu, J. B...","[[{'DataTableID': '21230', 'DataTableName': 'T...",[{'fundingAgency': 'Swiss National Science Fou...
4,15090,12950,A 2000 year long seasonal record of floods in ...,PALEOLIMNOLOGY,2067,-48,-117,1998,This dataset contains ages and thicknesses of ...,"[Seasonal Resolution (SR), Little Ice Age (LIA...","Stefanie Wirth, Adrian Gilli, Anaëlle Simonnea...","[{'Author': 'Wirth, S. B., A. Gilli, A. Simonn...","[[{'DataTableID': '25120', 'DataTableName': 'T...",[{'fundingAgency': 'Swiss National Science Fou...

In [23]:
df_recon = ds.search_studies(reconstruction=True)
df_recon.head()

[2025-11-04 08:07:38,693][INFO] - search_studies: Limit defaulted to 100 (PyleoTUPS).

Request URL: https://www.ncei.noaa.gov/access/paleo-search/study/search.json?dataPublisher=NOAA&limit=100&reconstructionsOnly=Y

Parsing NOAA studies:   0%|                                                                                                    | 0/100 [00:00<?, ?it/s]

Parsing NOAA studies: 100%|███████████████████████████████████████████████████████████████████████████████████████| 100/100 [00:00<00:00, 11574.01it/s]

,StudyID,XMLID,StudyName,DataType,EarliestYearBP,MostRecentYearBP,EarliestYearCE,MostRecentYearCE,StudyNotes,ScienceKeywords,Investigators,Publications,Sites,Funding
0,10437,9101,"1,000 Year Ensemble Reconstructions of Tempera...",CLIMATE RECONSTRUCTIONS,950.0,-45.0,1000.0,1995.0,Calibration ensemble reconstructions of existi...,"[Air Temperature Reconstruction, carbon cycle,...","Jan Esper, Christoph Raible, Ulf Büntgen, Thom...","[{'Author': 'Frank, D.C., J. Esper, C.C. Raibl...","[[{'DataTableID': '19235', 'DataTableName': 'F...",[{'fundingAgency': 'Swiss National Science Fou...
1,11194,9632,"1,100 Year El Niño/Southern Oscillation (ENSO)...",CLIMATE RECONSTRUCTIONS,1050.0,-52.0,900.0,2002.0,An index of canonical ENSO variability for the...,"[ENSO, Atmospheric and Oceanic Circulation Pat...","Jinbao Li, Shang-Ping Xie, Edward Cook, Rosann...","[{'Author': 'Li, J., S.-P. Xie, E.R. Cook, G. ...","[[{'DataTableID': '19791', 'DataTableName': 'e...",[{'fundingAgency': 'US National Science Founda...
2,14193,12194,1000 Year Composite Sea Surface Temperature Re...,PALEOCEANOGRAPHY,950.0,-46.0,1000.0,1996.0,A set of reconstructions of sea surface temper...,None,"Laura Cunningham, William Austin, Karen-Luise ...","[{'Author': 'Cunningham, L.K., Austin, W.E.N.,...","[[{'DataTableID': '24146', 'DataTableName': 'P...","[{'fundingAgency': 'European Commission', 'fun..."
3,42679,83754,1006-year reconstruction of Rossby wavenumber-5,CLIMATE RECONSTRUCTIONS,950.0,-55.0,1000.0,2005.0,None,[Atmospheric and Oceanic Circulation Patterns ...,"Kai Kornhuber, Ellie Broadman, Valerie Trouet","[{'Author': 'Broadman, Ellie, Kai Kornhuber, I...","[[{'DataTableID': '56946', 'DataTableName': 'W...",[{'fundingAgency': 'US National Science Founda...
4,36253,77512,10Be Chronology of Khoton Nuur Glacial Landfor...,CLIMATE RECONSTRUCTIONS,35000.0,16000.0,-33050.0,-14050.0,None,None,"Peter Strand, Aaron Putnam, Oyungerel Sambuu, ...","[{'Author': 'Strand, Peter D., Aaron E. Putnam...","[[{'DataTableID': '48957', 'DataTableName': 'K...",[{'fundingAgency': 'US National Science Founda...

In [24]:
df_recent = ds.search_studies(recent=True, limit=25)
df_recent.head()

[2025-11-04 08:07:39,942][INFO] - search_studies: Limit set to 25.

Request URL: https://www.ncei.noaa.gov/access/paleo-search/study/search.json?dataPublisher=NOAA&limit=25&recent=true

Parsing NOAA studies:   0%|                                                                                                     | 0/25 [00:00<?, ?it/s]

Parsing NOAA studies: 100%|██████████████████████████████████████████████████████████████████████████████████████████| 25/25 [00:00<00:00, 6096.37it/s]

/Users/dhirenoswal/Desktop/PyleoTUPS/pyleotups/core/Dataset.py:501: UserWarning: Retrieved 25 studies, which is the specified limit. Consider increasing the limit parameter to fetch more studies.
  warnings.warn(

,StudyID,XMLID,StudyName,DataType,EarliestYearBP,MostRecentYearBP,EarliestYearCE,MostRecentYearCE,StudyNotes,ScienceKeywords,Investigators,Publications,Sites,Funding
0,43659,84535,"Cueva de la Fábrica, Colombia Speleothem Stabl...",SPELEOTHEMS,4110,3081,-2160,-1131,None,None,"Christina Marsh, Natasha Sekhon, Timothy Beach...","[{'Author': 'Marsh, Christina; Sekhon, Natash...","[[{'DataTableID': '58509', 'DataTableName': 'C...",[]
1,43619,84515,European Alps Summer Temperature Reconstructio...,CLIMATE RECONSTRUCTIONS,1208,-73,742,2023,Temperature reconstruction since 742 CE for th...,[Air Temperature Reconstruction],"Jan Esper, Frederick Reinig, Max Torbenson, No...","[{'Author': 'Esper, J., Reinig, F., Torbenson,...","[[{'DataTableID': '58482', 'DataTableName': 'E...",[]
2,43579,84495,Kiritimati Island 19th to 20th Century Fossil ...,CORALS AND SCLEROSPONGES,133,25,1817,1925,Coral oxygen isotope timeseries from fossil Po...,"[ENSO, Tropics]","Chandler Morris, Kim Cobb, Marlena Brown, Xi-k...",[],"[[{'DataTableID': '58446', 'DataTableName': 'X...",[{'fundingAgency': 'US National Science Founda...
3,43352,84438,King - Abajo Peak - PIEN - ITRDB UT577,TREE RING,153,-66,1797,2016,None,"[Apache pine, Pinus engelmannii Carr., PIEN]","Karen King, Grant Harley","[{'Author': 'King, Karen E., Edward R. Cook, K...","[[{'DataTableID': '58214', 'DataTableName': 'U...",[]
4,43336,84474,King - Bear Lake Update - PIEN - ITRDB ID038,TREE RING,245,-69,1705,2019,None,"[PIEN, Apache pine, Pinus engelmannii Carr.]","Karen King, Ben Spei","[{'Author': 'King, Karen E., Edward R. Cook, K...","[[{'DataTableID': '58198', 'DataTableName': 'I...",[]

In [25]:
# Limit up to first 10 results
df_limit = ds.search_studies(earliest_year=12000, time_format="BP", time_method="overAny", limit=10)
df_limit.head()

# Skip the first 10 results (i.e., get results 11-20)
df_skip = ds.search_studies(earliest_year=12000, time_format="BP", time_method="overAny", limit=10, skip=10)
df_skip.head()

[2025-11-04 08:07:40,792][INFO] - search_studies: Limit set to 10.

Request URL: https://www.ncei.noaa.gov/access/paleo-search/study/search.json?dataPublisher=NOAA&limit=10&earliestYear=12000&timeFormat=BP&timeMethod=overAny

Parsing NOAA studies:   0%|                                                                                                     | 0/10 [00:00<?, ?it/s]

Parsing NOAA studies: 100%|██████████████████████████████████████████████████████████████████████████████████████████| 10/10 [00:00<00:00, 4420.64it/s]

/Users/dhirenoswal/Desktop/PyleoTUPS/pyleotups/core/Dataset.py:501: UserWarning: Retrieved 10 studies, which is the specified limit. Consider increasing the limit parameter to fetch more studies.
  warnings.warn(
[2025-11-04 08:07:41,522][INFO] - search_studies: Limit set to 10.

Request URL: https://www.ncei.noaa.gov/access/paleo-search/study/search.json?dataPublisher=NOAA&limit=10&skip=10&earliestYear=12000&timeFormat=BP&timeMethod=overAny

Parsing NOAA studies:   0%|                                                                                                     | 0/10 [00:00<?, ?it/s]

Parsing NOAA studies: 100%|██████████████████████████████████████████████████████████████████████████████████████████| 10/10 [00:00<00:00, 9018.07it/s]

,StudyID,XMLID,StudyName,DataType,EarliestYearBP,MostRecentYearBP,EarliestYearCE,MostRecentYearCE,StudyNotes,ScienceKeywords,Investigators,Publications,Sites,Funding
0,9896,8788,"200KYr Midge Temperature, Diatom pH, and C/N Data",PALEOLIMNOLOGY,200000,907,-198050,1043,"Multiproxy sediment data from Lake CF8, Baffin...","[Arctic, Air Temperature Reconstruction]","Yarrow Axford, Colin Cooke, Donna Francis, Nea...","[{'Author': 'Axford, Y., J.P. Briner, C.A. Coo...","[[{'DataTableID': '18746', 'DataTableName': 'C...",[{'fundingAgency': 'US National Science Founda...
1,33872,75532,2017 Florida Bay Sr/Ca and d18O Data during Hu...,CORALS AND SCLEROSPONGES,-67,-67,2017,2017,Seawater Sr/Ca and oxygen isotopes to complem...,None,"Agraj Khare, K. Halimeda Kilbourne, Johan Schi...","[{'Author': 'Khare, Agraj, Hunter P. Hughes, K...","[[{'DataTableID': '46662', 'DataTableName': 'O...",[{'fundingAgency': 'US National Science Founda...
2,2605,1676,340 KYr SW Pacific d18O Data and Mg/Ca-based S...,PALEOCEANOGRAPHY,340830,1951,-338880,-1,,[Sea Surface Temperature Reconstruction],"Henry Elderfield, Rainer Zahn, Katharina Pahnk...","[{'Author': 'Pahnke, K., R. Zahn, H. Elderfiel...","[[{'DataTableID': '4289', 'DataTableName': 'MD...",[]
3,2614,1685,350 KYr Sea Level Reconstruction and Foraminif...,PALEOCEANOGRAPHY,361500,1000,-359550,950,,[Sea Level Reconstruction],"David Lea, Pamela Martin, Dorothy Pak, Howard ...","[{'Author': 'Lea, D.W., P.A. Martin, D.K. Pak,...","[[{'DataTableID': '4301', 'DataTableName': 'TR...",[]
4,14190,12191,600 Year Ensemble Climate Reconstructions and ...,CLIMATE RECONSTRUCTIONS,550,-61,1400,2011,"Ensemble Climate Reconstructions, input data f...",[Air Temperature Reconstruction],"Martin Tingley, Peter Huybers","[{'Author': 'Tingley, M.P. and P. Huybers', 'T...","[[{'DataTableID': '24136', 'DataTableName': 'T...",[{'fundingAgency': 'US National Science Founda...