In [1]:
from pytups import Dataset

Initaite a NOAA Wrapper object

In [2]:
dataset = Dataset()

```dataset``` object acts as the manager, which will fetch studies based on given search parameters, manage and display appropraite metadata, and tabular data for studies obtained from search.

Step 1: Populate the dataset.  
- Use ```search_studies```, with paramters like NOAAStudyId, XMLId, data_type_id, keywords, search_text, investigators, max_lat, min_lat max_lon, min_lon, location, publication, search_text, earliest_year, latest_year, cv_whats. 

*Note:* 
- data_publisher, by default, for the current version of pytups is "NOAA".
- Above parameter's are based on the endpoints by NCEI-NOAA and it's description can be found at https://www.ncei.noaa.gov/access/paleo-search/api

In [3]:
dataset.search_studies(noaa_id=18316)

"""@TODO:
- Validations for parameters like max_lat/max_long"""

'@TODO:\n- Validations for parameters like max_lat/max_long'

To access the search results, call ```get_summary()``` over the dataset object

In [4]:
dataset.get_summary()

,StudyID,XMLID,StudyName,DataType,EarliestYearBP,MostRecentYearBP,EarliestYearCE,MostRecentYearCE,StudyNotes,ScienceKeywords,Investigators,Publications,Sites
0,18316,16019,"WAIS Divide Core 1,200 Year Atmospheric CO2 an...",ICE CORES,1217,11,733,1939,CO2 concentration and Stable Isotopic Composit...,[carbon cycle],"Thomas Bauska, Fortunat Joos, Alan Mix, Raphae...","[{'Author': 'Ahn, J., E. J. Brook, L. Mitchell...","[[{'DataTableID': '28694', 'DataTableName': 'W..."

For a detailed view of studies, use Functions ```get_publications()```, ```get_sites()```. Given functions retrieve the sites and publications associated with respective datasets

In [5]:
dataset.get_publications()

,Author,Title,Journal,Year,Volume,Number,Pages,Type,DOI,URL,CitationKey,StudyID,StudyName
0,"Ahn, J., E. J. Brook, L. Mitchell, J. Rosen, J...",Atmospheric CO2 over the last 1000 years: A hi...,Global Biogeochemical Cycles,2012,26,2,None,publication,10.1029/2011GB004247,http://dx.doi.org/10.1029/2011GB004247,Rubino_Atmospheric_2012_18316,18316,"WAIS Divide Core 1,200 Year Atmospheric CO2 an..."
1,"Thomas K. Bauska, Fortunat Joos, Alan C. Mix, ...","Links between atmospheric carbon dioxide, the ...",Nature Geoscience,2015,8,5,383-387,publication,10.1038/NGEO2422,http://dx.doi.org/10.1038/NGEO2422,Brook_Links_2015_18316,18316,"WAIS Divide Core 1,200 Year Atmospheric CO2 an..."

View Sites results. !important to check studies and collect fileurls

In [6]:
dataset.get_sites()

,DataTableID,DataTableName,TimeUnit,FileURL,Variables,FileDescription,TotalFilesAvailable,SiteID,SiteName,LocationName,Latitude,Longitude,MinElevation,MaxElevation,StudyID,StudyName
0,28694,WAIS2015d13CO2,CE,https://www.ncei.noaa.gov/pub/data/paleo/iceco...,"[Core_ID, depth_top_m, depth_bot_m, depth_m, a...",NOAA Template File,1,22909,WAIS Divide WDC05A,Continent>Antarctica,-79.47,-112.13,1759,1759,18316,"WAIS Divide Core 1,200 Year Atmospheric CO2 an..."
1,28803,WAIS2015CO2,CE,https://www.ncei.noaa.gov/pub/data/paleo/iceco...,"[co2_1s_ppm, num_reps, Core_ID, depth_m, age_A...",NOAA Template File,1,22909,WAIS Divide WDC05A,Continent>Antarctica,-79.47,-112.13,1759,1759,18316,"WAIS Divide Core 1,200 Year Atmospheric CO2 an..."
2,28804,WAIS2015CO2flux,CE,https://www.ncei.noaa.gov/pub/data/paleo/iceco...,"[age_AD, Fal_15.9, Fal_84.1, Fal_median, Fao_1...",NOAA Template File,1,22909,WAIS Divide WDC05A,Continent>Antarctica,-79.47,-112.13,1759,1759,18316,"WAIS Divide Core 1,200 Year Atmospheric CO2 an..."

To access the actual dataset given in the above NOAA datasets, use ```get_data()``` method. 

The function takes ```dataTableId``` or a list of dataTableIds which one can get from the get_sites() method. 

Alternatively, one can directly call the get_data() method using the ```fileUrls```. Even these urls are present in the resultant dataframe of get_sites()

*Note:* 
- The current pytups version can only open the ".txt" files that follow the standard NOAA Template format. 
- To obtain complete information, it is recommended to pass only those fileUrls which are present in the search response. Even though, the package will parse the files, it wont be able to provide extra information regarding the dataframe.

In [7]:
dfs = dataset.get_data(dataTableIDs=["28694", "28803", "28804"])

In [8]:
for df in dfs:
    display(df.head())
    print(df.attrs)

  Core_ID depth_top_m depth_bot_m depth_m   age_AD d13C_CO2
0  WDC05A       84.41       84.59   84.50  1916.37   -6.868
1  WDC05A       94.82       95.00   94.91  1871.58   -6.569
2  WDC05A      100.34      100.54  100.44  1847.24   -6.542
3  WDC05A      106.06      106.24  106.15  1822.16   -6.419
4  WDC05A      109.02      109.12  109.07  1809.02   -6.420

{'variables': ['Core_ID', 'depth_top_m', 'depth_bot_m', 'depth_m', 'age_AD', 'd13C_CO2'], 'NOAAStudyId': '18316', 'StudyName': 'WAIS Divide Core 1,200 Year Atmospheric CO2 and CO2 Stable Isotope Data'}

  Core_ID depth_m  age_AD co2_ppm co2_1s_ppm num_reps
0  WDC05A  78.973  1939.7   311.6        1.6        6
1  WDC05A  80.095  1934.8   307.1        0.2       12
2  WDC05A  80.595    1933   306.5        1.3        5
3  WDC05A  82.588  1924.5   303.9        0.3        6
4  WDC05A   84.64  1915.8   298.8        1.2        4

{'variables': ['Core_ID', 'depth_m', 'age_AD', 'co2_ppm', 'co2_1s_ppm', 'num_reps'], 'NOAAStudyId': '18316', 'StudyName': 'WAIS Divide Core 1,200 Year Atmospheric CO2 and CO2 Stable Isotope Data'}

,age_AD,Fal_15.9,Fal_84.1,Fal_median,Fao_15.9,Fao_84.1,Fao_median,del_lc_stocks_15.9,del_lc_stocks_84.1,del_lc_stocks_median,del_oc_stocks_15.9,del_oc_stocks_84.1,del_oc_stocks_median
0,755,-0.0076906,0.0531275,0.0203811,-0.0687170,0.0604406,-0.0027614,-0.0076906,0.0531275,0.0203811,-0.0687170,0.0604406,-0.0027614
1,756,-0.0004563,0.0690373,0.0312458,-0.0801152,0.0490091,-0.0142406,-0.0085262,0.1224410,0.0515803,-0.1481970,0.1136900,-0.0178154
2,757,0.0047517,0.0822963,0.0399637,-0.0895057,0.0418756,-0.0238649,-0.0032509,0.2051300,0.0920047,-0.2388610,0.1500030,-0.0407658
3,758,0.0091025,0.0943422,0.0479293,-0.0989552,0.0355697,-0.0299825,0.0074808,0.2994590,0.1400970,-0.3392090,0.1874460,-0.0676734
4,759,0.0128880,0.1057800,0.0545621,-0.1078840,0.0312313,-0.0361903,0.0201656,0.4032080,0.1931260,-0.4426620,0.2180520,-0.1107660

{'variables': ['age_AD', 'Fal_15.9', 'Fal_84.1', 'Fal_median', 'Fao_15.9', 'Fao_84.1', 'Fao_median', 'del_lc_stocks_15.9', 'del_lc_stocks_84.1', 'del_lc_stocks_median', 'del_oc_stocks_15.9', 'del_oc_stocks_84.1', 'del_oc_stocks_median'], 'NOAAStudyId': '18316', 'StudyName': 'WAIS Divide Core 1,200 Year Atmospheric CO2 and CO2 Stable Isotope Data'}

Example of direct use of parser over text file Url.

In [9]:
dfs_file_url = dataset.get_data(file_urls = ["https://www.ncei.noaa.gov/pub/data/paleo/icecore/antarctica/wais2015co2flux.txt",
"https://www.ncei.noaa.gov/pub/data/paleo/icecore/antarctica/buizert2021/buizert2021df-borehole-temp-noaa.txt",
"https://www.ncei.noaa.gov/pub/data/paleo/icecore/antarctica/dominion/pit_dr5_chem.txt"
])

for df in dfs:
    display(df.head())
    print(df.attrs)

C:\Users\dhire\OneDrive\Desktop\PyTUPS\pytups\core\Dataset.py:437: UserWarning: Attached 'https://www.ncei.noaa.gov/pub/data/paleo/icecore/antarctica/buizert2021/buizert2021df-borehole-temp-noaa.txt' is not linked to any parent study; additional metadata will not be attached.
  warnings.warn(
C:\Users\dhire\OneDrive\Desktop\PyTUPS\pytups\core\Dataset.py:437: UserWarning: Attached 'https://www.ncei.noaa.gov/pub/data/paleo/icecore/antarctica/dominion/pit_dr5_chem.txt' is not linked to any parent study; additional metadata will not be attached.
  warnings.warn(

  Core_ID depth_top_m depth_bot_m depth_m   age_AD d13C_CO2
0  WDC05A       84.41       84.59   84.50  1916.37   -6.868
1  WDC05A       94.82       95.00   94.91  1871.58   -6.569
2  WDC05A      100.34      100.54  100.44  1847.24   -6.542
3  WDC05A      106.06      106.24  106.15  1822.16   -6.419
4  WDC05A      109.02      109.12  109.07  1809.02   -6.420

{'variables': ['Core_ID', 'depth_top_m', 'depth_bot_m', 'depth_m', 'age_AD', 'd13C_CO2'], 'NOAAStudyId': '18316', 'StudyName': 'WAIS Divide Core 1,200 Year Atmospheric CO2 and CO2 Stable Isotope Data'}

  Core_ID depth_m  age_AD co2_ppm co2_1s_ppm num_reps
0  WDC05A  78.973  1939.7   311.6        1.6        6
1  WDC05A  80.095  1934.8   307.1        0.2       12
2  WDC05A  80.595    1933   306.5        1.3        5
3  WDC05A  82.588  1924.5   303.9        0.3        6
4  WDC05A   84.64  1915.8   298.8        1.2        4

{'variables': ['Core_ID', 'depth_m', 'age_AD', 'co2_ppm', 'co2_1s_ppm', 'num_reps'], 'NOAAStudyId': '18316', 'StudyName': 'WAIS Divide Core 1,200 Year Atmospheric CO2 and CO2 Stable Isotope Data'}

,age_AD,Fal_15.9,Fal_84.1,Fal_median,Fao_15.9,Fao_84.1,Fao_median,del_lc_stocks_15.9,del_lc_stocks_84.1,del_lc_stocks_median,del_oc_stocks_15.9,del_oc_stocks_84.1,del_oc_stocks_median
0,755,-0.0076906,0.0531275,0.0203811,-0.0687170,0.0604406,-0.0027614,-0.0076906,0.0531275,0.0203811,-0.0687170,0.0604406,-0.0027614
1,756,-0.0004563,0.0690373,0.0312458,-0.0801152,0.0490091,-0.0142406,-0.0085262,0.1224410,0.0515803,-0.1481970,0.1136900,-0.0178154
2,757,0.0047517,0.0822963,0.0399637,-0.0895057,0.0418756,-0.0238649,-0.0032509,0.2051300,0.0920047,-0.2388610,0.1500030,-0.0407658
3,758,0.0091025,0.0943422,0.0479293,-0.0989552,0.0355697,-0.0299825,0.0074808,0.2994590,0.1400970,-0.3392090,0.1874460,-0.0676734
4,759,0.0128880,0.1057800,0.0545621,-0.1078840,0.0312313,-0.0361903,0.0201656,0.4032080,0.1931260,-0.4426620,0.2180520,-0.1107660

{'variables': ['age_AD', 'Fal_15.9', 'Fal_84.1', 'Fal_median', 'Fao_15.9', 'Fao_84.1', 'Fao_median', 'del_lc_stocks_15.9', 'del_lc_stocks_84.1', 'del_lc_stocks_median', 'del_oc_stocks_15.9', 'del_oc_stocks_84.1', 'del_oc_stocks_median'], 'NOAAStudyId': '18316', 'StudyName': 'WAIS Divide Core 1,200 Year Atmospheric CO2 and CO2 Stable Isotope Data'}

Since Pytups only works with txt files, input in any secondary format will raise UnsupportedFileTypeError.

In [10]:
dataset.get_data(file_urls = ["https://www.ncei.noaa.gov/pub/data/paleo/reconstructions/climate12k/temperature/version1.0.0/Temp12k_directory_LiPD_files/AdelaideTarn.Jara.2015.lpd"])

C:\Users\dhire\OneDrive\Desktop\PyTUPS\pytups\core\Dataset.py:437: UserWarning: Attached 'https://www.ncei.noaa.gov/pub/data/paleo/reconstructions/climate12k/temperature/version1.0.0/Temp12k_directory_LiPD_files/AdelaideTarn.Jara.2015.lpd' is not linked to any parent study; additional metadata will not be attached.
  warnings.warn(

UnsupportedFileTypeError: Pytups works with .txt files only. File type '{file_type}' can be processed with a {proprietary software}.

In [11]:
dataset.search_studies(noaa_id=16617)

In [ ]:
dataset.get_sites()

,DataTableID,DataTableName,TimeUnit,FileURL,Variables,FileDescription,TotalFilesAvailable,SiteID,SiteName,LocationName,Latitude,Longitude,MinElevation,MaxElevation,StudyID,StudyName
0,26789,USCO-001 CHAR,cal yr BP,https://www.ncei.noaa.gov/pub/data/paleo/fireh...,[],Charcoal Data,6,30933,Code - charcoal db,Continent>North America>United States Of America,67.158056,-151.86111,250,250,16617,"Higuera fire data from Code Lake, South-Centra..."
1,26789,USCO-001 CHAR,cal yr BP,https://www.ncei.noaa.gov/pub/data/paleo/fireh...,[],Supplemental Material: Figure of age-depth model,6,30933,Code - charcoal db,Continent>North America>United States Of America,67.158056,-151.86111,250,250,16617,"Higuera fire data from Code Lake, South-Centra..."
2,26789,USCO-001 CHAR,cal yr BP,https://www.ncei.noaa.gov/pub/data/paleo/fireh...,[],Supplemental Material: Pollen counts for each ...,6,30933,Code - charcoal db,Continent>North America>United States Of America,67.158056,-151.86111,250,250,16617,"Higuera fire data from Code Lake, South-Centra..."
3,26789,USCO-001 CHAR,cal yr BP,https://www.ncei.noaa.gov/pub/data/paleo/fireh...,[],Supplemental Material: Charcoal data in a Char...,6,30933,Code - charcoal db,Continent>North America>United States Of America,67.158056,-151.86111,250,250,16617,"Higuera fire data from Code Lake, South-Centra..."
4,26789,USCO-001 CHAR,cal yr BP,https://www.ncei.noaa.gov/pub/data/paleo/fireh...,[],Supplemental Material: CharAnalysis parameters...,6,30933,Code - charcoal db,Continent>North America>United States Of America,67.158056,-151.86111,250,250,16617,"Higuera fire data from Code Lake, South-Centra..."
5,26789,USCO-001 CHAR,cal yr BP,https://www.ncei.noaa.gov/pub/data/paleo/fireh...,[],Supplemental Material: CharAnalysis results fi...,6,30933,Code - charcoal db,Continent>North America>United States Of America,67.158056,-151.86111,250,250,16617,"Higuera fire data from Code Lake, South-Centra..."

In [ ]:
dataset.get_data(dataTableIDs=["26789"])

[    depth-cm-top depth-cm-bottom age-calBP-top age-calBP-bottom  \
 0            0.5               1           -42              -24
 1              1             1.5           -24                5
 2            1.5               2             5               62
 3              2             2.5            62               88
 4            2.5               3            88              114
 ..           ...             ...           ...              ...
 466        121.5          121.75          7339             7357
 467       121.75             122          7357             7374
 468          122          122.25          7374             7392
 469       122.25           122.5          7392             7409
 470        122.5             123          7409             7444

     vol-wetsed-cm3 char-count
 0                3          8
 1                3         18
 2                5         34
 3                5         51
 4                5          9
 ..             ...        ...
 466              3          0
 467              3          1
 468              3          0
 469              3          0
 470              3          0

 [471 rows x 6 columns]]